# Data Scraping and Cleaning

### Extract Data from Basketball Reference

In [1]:
   pip install html5lib

Requirement already satisfied: html5lib in /Users/sabrinasayed/Documents/NBA Data/.conda/lib/python3.11/site-packages (1.1)
Requirement already satisfied: six>=1.9 in /Users/sabrinasayed/Documents/NBA Data/.conda/lib/python3.11/site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in /Users/sabrinasayed/Documents/NBA Data/.conda/lib/python3.11/site-packages (from html5lib) (0.5.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import requests
from bs4 import BeautifulSoup 
import pandas as pd

## Scraping Brunson's Seasonal Performance Stats

In [3]:
def get_seasonal_performance(url, table_id):
    try:
        response = requests.get(url)
        soup = BeautifulSoup(response.content, 'html.parser')

        stats_table = soup.find('table', {'id': table_id})
        if stats_table is None:
            print(f"Table with ID '{table_id}' not found.")
            return pd.DataFrame()
        
        last5_stats = pd.read_html(str(stats_table))[0]
        return last5_stats
    
    except Exception as e:
        print(f"Error retrieving {table_id} data:", e)
        return pd.DataFrame()
    
url = "https://www.basketball-reference.com/players/b/brunsja01.html"
table_id = "per_game_stats"

seasonal_data = get_seasonal_performance(url, table_id)
seasonal_data

/var/folders/rj/3yvmqxnj3d17zpgh8wpywxvr0000gn/T/ipykernel_8466/3231626906.py:11: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  last5_stats = pd.read_html(str(stats_table))[0]

,Season,Age,Team,Lg,Pos,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Awards
0,2018-19,22,DAL,NBA,PG,73.0,38.0,21.8,3.6,7.7,...,0.3,2.0,2.3,3.2,0.5,0.1,1.2,1.7,9.3,NaN
1,2019-20,23,DAL,NBA,PG,57.0,16.0,17.9,3.2,6.8,...,0.4,2.0,2.4,3.3,0.4,0.1,1.2,1.3,8.2,NaN
2,2020-21,24,DAL,NBA,PG,68.0,12.0,25.0,4.8,9.2,...,0.4,3.0,3.4,3.5,0.5,0.0,1.2,1.6,12.6,6MOY-4
3,2021-22,25,DAL,NBA,SG,79.0,61.0,31.9,6.4,12.8,...,0.5,3.4,3.9,4.8,0.8,0.0,1.6,1.9,16.3,NaN
4,2022-23,26,NYK,NBA,PG,68.0,68.0,35.0,8.6,17.6,...,0.6,3.0,3.5,6.2,0.9,0.2,2.1,2.2,24.0,"MVP-12,CPOY-4"
5,2023-24,27,NYK,NBA,PG,77.0,77.0,35.4,10.3,21.4,...,0.6,3.1,3.6,6.7,0.9,0.2,2.4,1.9,28.7,"MVP-5,CPOY-5,AS,NBA2"
6,2024-25,28,NYK,NBA,PG,10.0,10.0,34.5,8.6,18.5,...,0.4,2.5,2.9,6.4,0.5,0.0,2.2,2.0,24.3,NaN
7,7 Yrs,7 Yrs,7 Yrs,7 Yrs,NaN,432.0,282.0,28.4,6.3,13.0,...,0.5,2.7,3.2,4.7,0.7,0.1,1.6,1.8,17.1,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,DAL (4 Yrs),DAL (4 Yrs),DAL (4 Yrs),DAL (4 Yrs),NaN,277.0,127.0,24.7,4.6,9.3,...,0.4,2.6,3.0,3.7,0.6,0.0,1.3,1.7,11.9,NaN
10,NYK (3 Yrs),NYK (3 Yrs),NYK (3 Yrs),NYK (3 Yrs),NaN,155.0,155.0,35.2,9.4,19.5,...,0.6,3.0,3.5,6.5,0.9,0.2,2.3,2.0,26.4,NaN

In [4]:
import numpy as np

In [5]:
seasonal_data.rename(columns={'Awards': 'MVP'}, inplace=True)

In [6]:
seasonal_data.drop(index = [6, 7,8, 9, 10], inplace=True)
seasonal_data.drop(columns= ['Lg'], inplace=True)
seasonal_data['MVP'].replace(np.nan, 0, inplace=True)
seasonal_data

/var/folders/rj/3yvmqxnj3d17zpgh8wpywxvr0000gn/T/ipykernel_8466/1139532896.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  seasonal_data['MVP'].replace(np.nan, 0, inplace=True)

,Season,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,MVP
0,2018-19,22,DAL,PG,73.0,38.0,21.8,3.6,7.7,0.467,...,0.3,2.0,2.3,3.2,0.5,0.1,1.2,1.7,9.3,0
1,2019-20,23,DAL,PG,57.0,16.0,17.9,3.2,6.8,0.466,...,0.4,2.0,2.4,3.3,0.4,0.1,1.2,1.3,8.2,0
2,2020-21,24,DAL,PG,68.0,12.0,25.0,4.8,9.2,0.523,...,0.4,3.0,3.4,3.5,0.5,0.0,1.2,1.6,12.6,6MOY-4
3,2021-22,25,DAL,SG,79.0,61.0,31.9,6.4,12.8,0.502,...,0.5,3.4,3.9,4.8,0.8,0.0,1.6,1.9,16.3,0
4,2022-23,26,NYK,PG,68.0,68.0,35.0,8.6,17.6,0.491,...,0.6,3.0,3.5,6.2,0.9,0.2,2.1,2.2,24.0,"MVP-12,CPOY-4"
5,2023-24,27,NYK,PG,77.0,77.0,35.4,10.3,21.4,0.479,...,0.6,3.1,3.6,6.7,0.9,0.2,2.4,1.9,28.7,"MVP-5,CPOY-5,AS,NBA2"

In [7]:
# Replace values in MVP column
seasonal_data['MVP'] = seasonal_data['MVP'].apply(lambda x: 1 if 'MVP' in str(x) else 0)
seasonal_data

,Season,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,MVP
0,2018-19,22,DAL,PG,73.0,38.0,21.8,3.6,7.7,0.467,...,0.3,2.0,2.3,3.2,0.5,0.1,1.2,1.7,9.3,0
1,2019-20,23,DAL,PG,57.0,16.0,17.9,3.2,6.8,0.466,...,0.4,2.0,2.4,3.3,0.4,0.1,1.2,1.3,8.2,0
2,2020-21,24,DAL,PG,68.0,12.0,25.0,4.8,9.2,0.523,...,0.4,3.0,3.4,3.5,0.5,0.0,1.2,1.6,12.6,0
3,2021-22,25,DAL,SG,79.0,61.0,31.9,6.4,12.8,0.502,...,0.5,3.4,3.9,4.8,0.8,0.0,1.6,1.9,16.3,0
4,2022-23,26,NYK,PG,68.0,68.0,35.0,8.6,17.6,0.491,...,0.6,3.0,3.5,6.2,0.9,0.2,2.1,2.2,24.0,1
5,2023-24,27,NYK,PG,77.0,77.0,35.4,10.3,21.4,0.479,...,0.6,3.1,3.6,6.7,0.9,0.2,2.4,1.9,28.7,1

In [8]:
seasonal_data.columns

Index(['Season', 'Age', 'Team', 'Pos', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'MVP'],
      dtype='object')

In [9]:
seasonal_data.rename(columns= {'G':'G_Sn', 'GS':'GS_Sn', 'MP':'MP_Sn','FG':'FG_Sn', 'FGA':'FGA_Sn', 'FG%':'FG%_Sn',
       '3P':'3P_Sn', '3PA':'3PA_Sn', '3P%':'3P%_Sn', '2P':'2P_Sn', '2PA':'2PA_Sn', '2P%':'2P%_Sn', 'eFG%':'eFG%_Sn', 'FT':'FT_Sn', 'FTA':'FTA_Sn', 'FT%':'FT%_Sn',
       'ORB':'ORB_Sn', 'DRB':'DRB_Sn', 'TRB':'TRB_Sn', 'AST':'AST_Sn', 'STL':'STL_Sn', 'BLK':'BLK_Sn', 'TOV':'TOV_Sn', 'PF':'PF_Sn', 'PTS':'PTS_Sn'}, inplace=True)

seasonal_data

,Season,Age,Team,Pos,G_Sn,GS_Sn,MP_Sn,FG_Sn,FGA_Sn,FG%_Sn,...,ORB_Sn,DRB_Sn,TRB_Sn,AST_Sn,STL_Sn,BLK_Sn,TOV_Sn,PF_Sn,PTS_Sn,MVP
0,2018-19,22,DAL,PG,73.0,38.0,21.8,3.6,7.7,0.467,...,0.3,2.0,2.3,3.2,0.5,0.1,1.2,1.7,9.3,0
1,2019-20,23,DAL,PG,57.0,16.0,17.9,3.2,6.8,0.466,...,0.4,2.0,2.4,3.3,0.4,0.1,1.2,1.3,8.2,0
2,2020-21,24,DAL,PG,68.0,12.0,25.0,4.8,9.2,0.523,...,0.4,3.0,3.4,3.5,0.5,0.0,1.2,1.6,12.6,0
3,2021-22,25,DAL,SG,79.0,61.0,31.9,6.4,12.8,0.502,...,0.5,3.4,3.9,4.8,0.8,0.0,1.6,1.9,16.3,0
4,2022-23,26,NYK,PG,68.0,68.0,35.0,8.6,17.6,0.491,...,0.6,3.0,3.5,6.2,0.9,0.2,2.1,2.2,24.0,1
5,2023-24,27,NYK,PG,77.0,77.0,35.4,10.3,21.4,0.479,...,0.6,3.1,3.6,6.7,0.9,0.2,2.4,1.9,28.7,1

## Scraping Brunson's 2022-23 Game Stats

In [10]:
def get_22_23_season_stats(url, table_id):
    try:
        response = requests.get(url)
        soup = BeautifulSoup(response.content, 'html.parser')

        stats_table = soup.find('table', {'id': table_id})
        if stats_table is None:
            print(f"Table with ID '{table_id}' not found.")
            return pd.DataFrame()
        
        season_stats = pd.read_html(str(stats_table))[0]

        return season_stats
    
    except Exception as e:
        print(f"Error retrieving 22-23 season data:", e)
        return pd.DataFrame()

url = f"https://www.basketball-reference.com/players/b/brunsja01/gamelog/2023/"
table_id = "pgl_basic"

season_22_23_df = get_22_23_season_stats(url, table_id)

season_22_23_df

/var/folders/rj/3yvmqxnj3d17zpgh8wpywxvr0000gn/T/ipykernel_8466/634109390.py:11: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  season_stats = pd.read_html(str(stats_table))[0]

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,2022-10-19,26-049,NYK,@,MEM,L (-3),1,36:05,...,4,6,9,0,0,0,3,15,12.9,+3
1,2,2,2022-10-21,26-051,NYK,NaN,DET,W (+24),1,28:22,...,2,2,6,1,0,0,2,17,15.9,+3
2,3,3,2022-10-24,26-054,NYK,NaN,ORL,W (+13),1,33:02,...,3,3,6,2,0,3,5,21,15.1,+17
3,4,4,2022-10-26,26-056,NYK,NaN,CHO,W (+3),1,40:35,...,7,7,13,1,1,3,2,27,29.6,+7
4,5,5,2022-10-28,26-058,NYK,@,MIL,L (-11),1,33:08,...,3,3,2,1,0,3,3,13,5.1,-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,79,68,2023-04-02,26-214,NYK,NaN,WAS,W (+9),1,39:12,...,3,3,8,3,0,5,2,27,20.7,+19
82,80,NaN,2023-04-05,26-217,NYK,@,IND,W (+9),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
83,Rk,G,Date,Age,Tm,NaN,Opp,NaN,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
84,81,NaN,2023-04-07,26-219,NYK,@,NOP,L (-8),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
85,82,NaN,2023-04-09,26-221,NYK,NaN,IND,L (-5),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive

## Scraping Brunson's 2023-24 Game Stats

In [11]:
def get_23_24_season_stats(url, table_id):
    
    try:
        response = requests.get(url)
        soup = BeautifulSoup(response.content, 'html.parser')

        stats_table = soup.find('table', {'id': table_id})
        if stats_table is None:
            print(f"Table with ID '{table_id}' not found.")
            return pd.DataFrame()

        # Moved this line outside the if block
        season_stats = pd.read_html(str(stats_table))[0]

        return season_stats
    
    except Exception as e:
        print(f"Error retrieving 23-24 season data:", e)
        return pd.DataFrame()

url = f"https://www.basketball-reference.com/players/b/brunsja01/gamelog/2024"
table_id = "pgl_basic"
season_23_24_df = get_23_24_season_stats(url, table_id)

season_23_24_df

/var/folders/rj/3yvmqxnj3d17zpgh8wpywxvr0000gn/T/ipykernel_8466/798683490.py:13: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  season_stats = pd.read_html(str(stats_table))[0]

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,2023-10-25,27-055,NYK,NaN,BOS,L (-4),1,32:35,...,2,3,6,3,0,2,3,15,7.6,-9
1,2,2,2023-10-27,27-057,NYK,@,ATL,W (+6),1,32:42,...,3,3,5,0,0,2,1,31,22.3,+13
2,3,3,2023-10-28,27-058,NYK,@,NOP,L (-9),1,30:35,...,3,4,5,0,0,1,2,14,8.7,-9
3,4,4,2023-10-31,27-061,NYK,@,CLE,W (+18),1,33:40,...,5,5,2,2,0,5,1,19,9.7,+21
4,5,5,2023-11-01,27-062,NYK,NaN,CLE,L (-6),1,38:36,...,3,4,4,0,0,1,4,24,12.5,-6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,79,74,2024-04-09,27-222,NYK,@,CHI,W (+11),1,42:26,...,3,3,8,1,0,1,0,45,39.9,+9
82,80,75,2024-04-11,27-224,NYK,@,BOS,W (+9),1,30:02,...,2,2,4,0,0,2,2,39,28.7,+28
83,Rk,G,Date,Age,Tm,NaN,Opp,NaN,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
84,81,76,2024-04-12,27-225,NYK,NaN,BRK,W (+4),1,36:32,...,1,1,11,1,0,0,2,30,24.7,+7
85,82,77,2024-04-14,27-227,NYK,NaN,CHI,W (+1),1,41:11,...,6,8,7,0,0,4,1,40,27.9,+1

# Scraping Brunson's 2021-22 Game Stats

In [12]:
def get_21_22_season_stats(url, table_id):
    
    try:
        response = requests.get(url)
        soup = BeautifulSoup(response.content, 'html.parser')

        stats_table = soup.find('table', {'id': table_id})
        if stats_table is None:
            print(f"Table with ID '{table_id}' not found.")
            return pd.DataFrame()

        # Moved this line outside the if block
        season_stats = pd.read_html(str(stats_table))[0]

        return season_stats
    
    except Exception as e:
        print(f"Error retrieving 23-24 season data:", e)
        return pd.DataFrame()

url = f"https://www.basketball-reference.com/players/b/brunsja01/gamelog/2022/"
table_id = "pgl_basic"
season_21_22_df = get_21_22_season_stats(url, table_id)

season_21_22_df

/var/folders/rj/3yvmqxnj3d17zpgh8wpywxvr0000gn/T/ipykernel_8466/2955285888.py:13: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  season_stats = pd.read_html(str(stats_table))[0]

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,2021-10-21,25-051,DAL,@,ATL,L (-26),0,25:40,...,3,3,3,0,0,0,2,17,12.9,-8
1,2,2,2021-10-23,25-053,DAL,@,TOR,W (+8),0,22:42,...,4,6,4,1,0,1,3,5,3.7,+7
2,3,3,2021-10-26,25-056,DAL,NaN,HOU,W (+10),0,28:20,...,3,4,11,1,0,2,3,11,14.1,+7
3,4,4,2021-10-28,25-058,DAL,NaN,SAS,W (+5),0,30:06,...,6,7,5,0,0,0,2,19,16.1,+21
4,5,5,2021-10-29,25-059,DAL,@,DEN,L (-31),0,19:25,...,3,3,3,0,0,1,1,4,0.8,-7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,79,76,2022-04-03,25-215,DAL,@,MIL,W (+6),1,36:14,...,3,3,1,1,0,1,1,15,9.8,+6
82,80,77,2022-04-06,25-218,DAL,@,DET,W (+18),1,34:37,...,5,6,3,1,0,0,3,24,20.8,+22
83,Rk,G,Date,Age,Tm,NaN,Opp,NaN,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
84,81,78,2022-04-08,25-220,DAL,NaN,POR,W (+50),1,22:19,...,2,3,2,0,0,0,1,9,7.9,+18
85,82,79,2022-04-10,25-222,DAL,NaN,SAS,W (+10),1,24:41,...,6,6,5,0,0,1,0,18,15.6,+12

# Scraping Brunson's 2020-21 Game Stats

In [13]:
def get_20_21_season_stats(url, table_id):
    
    try:
        response = requests.get(url)
        soup = BeautifulSoup(response.content, 'html.parser')

        stats_table = soup.find('table', {'id': table_id})
        if stats_table is None:
            print(f"Table with ID '{table_id}' not found.")
            return pd.DataFrame()

        # Moved this line outside the if block
        season_stats = pd.read_html(str(stats_table))[0]

        return season_stats
    
    except Exception as e:
        print(f"Error retrieving 23-24 season data:", e)
        return pd.DataFrame()

url = f"https://www.basketball-reference.com/players/b/brunsja01/gamelog/2021/"
table_id = "pgl_basic"
season_20_21_df = get_20_21_season_stats(url, table_id)

season_20_21_df

/var/folders/rj/3yvmqxnj3d17zpgh8wpywxvr0000gn/T/ipykernel_8466/3225571562.py:13: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  season_stats = pd.read_html(str(stats_table))[0]

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,2020-12-23,24-114,DAL,@,PHO,L (-4),0,18:11,...,2,2,4,0,0,3,2,12,8.0,+3
1,2,2,2020-12-25,24-116,DAL,@,LAL,L (-23),0,13:52,...,2,2,1,0,0,3,2,4,-1.2,-9
2,3,3,2020-12-27,24-118,DAL,@,LAC,W (+51),0,13:19,...,2,2,3,0,0,0,0,11,11.1,+20
3,4,4,2020-12-30,24-121,DAL,NaN,CHO,L (-19),0,20:16,...,4,4,4,1,0,1,0,16,12.1,+4
4,5,5,2021-01-01,24-123,DAL,NaN,MIA,W (+10),0,12:11,...,3,3,2,2,0,1,1,2,1.8,-2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,68,64,2021-05-09,24-251,DAL,@,CLE,W (+27),0,18:38,...,1,1,7,2,0,1,1,13,17.3,+26
71,69,65,2021-05-11,24-253,DAL,@,MEM,L (-29),0,24:38,...,3,3,3,1,0,0,0,15,13.7,-13
72,70,66,2021-05-12,24-254,DAL,NaN,NOP,W (+18),0,18:14,...,3,3,6,0,0,0,3,5,5.7,+13
73,71,67,2021-05-14,24-256,DAL,NaN,TOR,W (+4),0,24:52,...,5,5,4,0,1,2,0,19,17.5,+4
74,72,68,2021-05-16,24-258,DAL,@,MIN,L (-15),0,26:38,...,0,0,3,1,0,2,2,15,9.3,0

## Scraping 2019-20 Regular Season Stats:

In [14]:
def get_19_20_season_stats(url, table_id):
    
    try:
        response = requests.get(url)
        soup = BeautifulSoup(response.content, 'html.parser')

        stats_table = soup.find('table', {'id': table_id})
        if stats_table is None:
            print(f"Table with ID '{table_id}' not found.")
            return pd.DataFrame()

        # Moved this line outside the if block
        season_stats = pd.read_html(str(stats_table))[0]

        return season_stats
    
    except Exception as e:
        print(f"Error retrieving 23-24 season data:", e)
        return pd.DataFrame()

url = f"https://www.basketball-reference.com/players/b/brunsja01/gamelog/2020"
table_id = "pgl_basic"
season_19_20_df = get_19_20_season_stats(url, table_id)

season_19_20_df

/var/folders/rj/3yvmqxnj3d17zpgh8wpywxvr0000gn/T/ipykernel_8466/3189815234.py:13: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  season_stats = pd.read_html(str(stats_table))[0]

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,2019-10-23,23-053,DAL,NaN,WAS,W (+8),0,24:20,...,3,4,3,2,0,4,3,9,2.9,+2
1,2,2,2019-10-25,23-055,DAL,@,NOP,W (+7),1,28:45,...,4,8,2,0,0,0,0,14,14.1,+4
2,3,3,2019-10-27,23-057,DAL,NaN,POR,L (-2),1,26:31,...,2,2,2,0,0,0,2,4,1.4,+6
3,4,4,2019-10-29,23-059,DAL,@,DEN,W (+3),0,15:30,...,4,4,8,0,0,0,0,11,12.2,+20
4,5,5,2019-11-01,23-062,DAL,NaN,LAL,L (-9),0,14:46,...,0,1,2,0,0,1,1,3,-0.5,-2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,63,NaN,2020-03-04,23-186,DAL,NaN,NOP,W (+4),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
66,64,NaN,2020-03-06,23-188,DAL,NaN,MEM,W (+25),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
67,65,NaN,2020-03-08,23-190,DAL,NaN,IND,L (-3),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
68,66,NaN,2020-03-10,23-192,DAL,@,SAS,L (-10),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
69,67,NaN,2020-03-11,23-193,DAL,NaN,DEN,W (+16),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive

## Scraping 2018-19 Regular Season Stats:

In [15]:
def get_18_19_season_stats(url, table_id):
    
    try:
        response = requests.get(url)
        soup = BeautifulSoup(response.content, 'html.parser')

        stats_table = soup.find('table', {'id': table_id})
        if stats_table is None:
            print(f"Table with ID '{table_id}' not found.")
            return pd.DataFrame()

        # Moved this line outside the if block
        season_stats = pd.read_html(str(stats_table))[0]

        return season_stats
    
    except Exception as e:
        print(f"Error retrieving 23-24 season data:", e)
        return pd.DataFrame()

url = f"https://www.basketball-reference.com/players/b/brunsja01/gamelog/2019/"
table_id = "pgl_basic"
season_18_19_df = get_18_19_season_stats(url, table_id)

season_18_19_df

/var/folders/rj/3yvmqxnj3d17zpgh8wpywxvr0000gn/T/ipykernel_8466/993096215.py:13: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  season_stats = pd.read_html(str(stats_table))[0]

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,2018-10-17,22-047,DAL,@,PHO,L (-21),0,19:07,...,1,1,1,0,0,0,1,3,1.9,-3
1,2,2,2018-10-20,22-050,DAL,NaN,MIN,W (+4),0,20:03,...,0,0,1,1,0,1,0,7,4.0,+2
2,3,3,2018-10-22,22-052,DAL,NaN,CHI,W (+6),0,14:33,...,1,1,2,1,0,0,0,6,4.6,+4
3,4,4,2018-10-24,22-054,DAL,@,ATL,L (-7),0,18:33,...,5,5,1,0,0,1,2,6,1.3,+5
4,5,5,2018-10-26,22-056,DAL,@,TOR,L (-9),1,29:41,...,3,3,4,1,0,2,2,8,3.4,-3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,79,NaN,2019-04-05,22-217,DAL,NaN,MEM,L (-10),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
82,80,71,2019-04-07,22-219,DAL,@,MEM,W (+2),1,23:40,...,2,2,10,1,0,1,3,12,14.4,-1
83,Rk,G,Date,Age,Tm,NaN,Opp,NaN,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
84,81,72,2019-04-09,22-221,DAL,NaN,PHO,W (+11),0,29:24,...,4,4,2,0,0,0,4,9,5.2,0
85,82,73,2019-04-10,22-222,DAL,@,SAS,L (-11),1,30:15,...,3,3,10,0,0,4,0,11,7.0,-11

### Combine 2018-19 and 2019-20 season stats

In [16]:
stats_18_20_stats = pd.concat([season_18_19_df, season_19_20_df])
stats_18_20_stats

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,2018-10-17,22-047,DAL,@,PHO,L (-21),0,19:07,...,1,1,1,0,0,0,1,3,1.9,-3
1,2,2,2018-10-20,22-050,DAL,NaN,MIN,W (+4),0,20:03,...,0,0,1,1,0,1,0,7,4.0,+2
2,3,3,2018-10-22,22-052,DAL,NaN,CHI,W (+6),0,14:33,...,1,1,2,1,0,0,0,6,4.6,+4
3,4,4,2018-10-24,22-054,DAL,@,ATL,L (-7),0,18:33,...,5,5,1,0,0,1,2,6,1.3,+5
4,5,5,2018-10-26,22-056,DAL,@,TOR,L (-9),1,29:41,...,3,3,4,1,0,2,2,8,3.4,-3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,63,NaN,2020-03-04,23-186,DAL,NaN,NOP,W (+4),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
66,64,NaN,2020-03-06,23-188,DAL,NaN,MEM,W (+25),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
67,65,NaN,2020-03-08,23-190,DAL,NaN,IND,L (-3),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
68,66,NaN,2020-03-10,23-192,DAL,@,SAS,L (-10),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
69,67,NaN,2020-03-11,23-193,DAL,NaN,DEN,W (+16),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive

In [17]:
pd.reset_option('display.max_columns', None)

In [18]:
stats_18_20_stats

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,2018-10-17,22-047,DAL,@,PHO,L (-21),0,19:07,...,1,1,1,0,0,0,1,3,1.9,-3
1,2,2,2018-10-20,22-050,DAL,NaN,MIN,W (+4),0,20:03,...,0,0,1,1,0,1,0,7,4.0,+2
2,3,3,2018-10-22,22-052,DAL,NaN,CHI,W (+6),0,14:33,...,1,1,2,1,0,0,0,6,4.6,+4
3,4,4,2018-10-24,22-054,DAL,@,ATL,L (-7),0,18:33,...,5,5,1,0,0,1,2,6,1.3,+5
4,5,5,2018-10-26,22-056,DAL,@,TOR,L (-9),1,29:41,...,3,3,4,1,0,2,2,8,3.4,-3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,63,NaN,2020-03-04,23-186,DAL,NaN,NOP,W (+4),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
66,64,NaN,2020-03-06,23-188,DAL,NaN,MEM,W (+25),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
67,65,NaN,2020-03-08,23-190,DAL,NaN,IND,L (-3),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
68,66,NaN,2020-03-10,23-192,DAL,@,SAS,L (-10),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
69,67,NaN,2020-03-11,23-193,DAL,NaN,DEN,W (+16),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive

In [19]:
stats_18_20_stats['Date'] = stats_18_20_stats['Date'].astype(str)
stats_18_20_stats = stats_18_20_stats[stats_18_20_stats['Date'] != 'Date']

In [20]:
stats_18_20_stats

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,2018-10-17,22-047,DAL,@,PHO,L (-21),0,19:07,...,1,1,1,0,0,0,1,3,1.9,-3
1,2,2,2018-10-20,22-050,DAL,NaN,MIN,W (+4),0,20:03,...,0,0,1,1,0,1,0,7,4.0,+2
2,3,3,2018-10-22,22-052,DAL,NaN,CHI,W (+6),0,14:33,...,1,1,2,1,0,0,0,6,4.6,+4
3,4,4,2018-10-24,22-054,DAL,@,ATL,L (-7),0,18:33,...,5,5,1,0,0,1,2,6,1.3,+5
4,5,5,2018-10-26,22-056,DAL,@,TOR,L (-9),1,29:41,...,3,3,4,1,0,2,2,8,3.4,-3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,63,NaN,2020-03-04,23-186,DAL,NaN,NOP,W (+4),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
66,64,NaN,2020-03-06,23-188,DAL,NaN,MEM,W (+25),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
67,65,NaN,2020-03-08,23-190,DAL,NaN,IND,L (-3),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
68,66,NaN,2020-03-10,23-192,DAL,@,SAS,L (-10),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
69,67,NaN,2020-03-11,23-193,DAL,NaN,DEN,W (+16),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive

In [21]:
stats_18_20_stats.columns

Index(['Rk', 'G', 'Date', 'Age', 'Tm', 'Unnamed: 5', 'Opp', 'Unnamed: 7', 'GS',
       'MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'GmSc', '+/-'],
      dtype='object')

### Combine 2020-21 and 2021-22 season stats

In [22]:
joined_stats = pd.concat([season_20_21_df, season_21_22_df])
joined_stats

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,2020-12-23,24-114,DAL,@,PHO,L (-4),0,18:11,...,2,2,4,0,0,3,2,12,8.0,+3
1,2,2,2020-12-25,24-116,DAL,@,LAL,L (-23),0,13:52,...,2,2,1,0,0,3,2,4,-1.2,-9
2,3,3,2020-12-27,24-118,DAL,@,LAC,W (+51),0,13:19,...,2,2,3,0,0,0,0,11,11.1,+20
3,4,4,2020-12-30,24-121,DAL,NaN,CHO,L (-19),0,20:16,...,4,4,4,1,0,1,0,16,12.1,+4
4,5,5,2021-01-01,24-123,DAL,NaN,MIA,W (+10),0,12:11,...,3,3,2,2,0,1,1,2,1.8,-2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,79,76,2022-04-03,25-215,DAL,@,MIL,W (+6),1,36:14,...,3,3,1,1,0,1,1,15,9.8,+6
82,80,77,2022-04-06,25-218,DAL,@,DET,W (+18),1,34:37,...,5,6,3,1,0,0,3,24,20.8,+22
83,Rk,G,Date,Age,Tm,NaN,Opp,NaN,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
84,81,78,2022-04-08,25-220,DAL,NaN,POR,W (+50),1,22:19,...,2,3,2,0,0,0,1,9,7.9,+18
85,82,79,2022-04-10,25-222,DAL,NaN,SAS,W (+10),1,24:41,...,6,6,5,0,0,1,0,18,15.6,+12

### Combine the 22-23 and 23-24 season stats

In [23]:

combined_stats_df = pd.concat([season_22_23_df, season_23_24_df])
combined_stats_df

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,2022-10-19,26-049,NYK,@,MEM,L (-3),1,36:05,...,4,6,9,0,0,0,3,15,12.9,+3
1,2,2,2022-10-21,26-051,NYK,NaN,DET,W (+24),1,28:22,...,2,2,6,1,0,0,2,17,15.9,+3
2,3,3,2022-10-24,26-054,NYK,NaN,ORL,W (+13),1,33:02,...,3,3,6,2,0,3,5,21,15.1,+17
3,4,4,2022-10-26,26-056,NYK,NaN,CHO,W (+3),1,40:35,...,7,7,13,1,1,3,2,27,29.6,+7
4,5,5,2022-10-28,26-058,NYK,@,MIL,L (-11),1,33:08,...,3,3,2,1,0,3,3,13,5.1,-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,79,74,2024-04-09,27-222,NYK,@,CHI,W (+11),1,42:26,...,3,3,8,1,0,1,0,45,39.9,+9
82,80,75,2024-04-11,27-224,NYK,@,BOS,W (+9),1,30:02,...,2,2,4,0,0,2,2,39,28.7,+28
83,Rk,G,Date,Age,Tm,NaN,Opp,NaN,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
84,81,76,2024-04-12,27-225,NYK,NaN,BRK,W (+4),1,36:32,...,1,1,11,1,0,0,2,30,24.7,+7
85,82,77,2024-04-14,27-227,NYK,NaN,CHI,W (+1),1,41:11,...,6,8,7,0,0,4,1,40,27.9,+1

### Combine all seasons of game data

In [24]:
combined_stats_df = pd.concat([combined_stats_df, joined_stats])
combined_stats_df

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,2022-10-19,26-049,NYK,@,MEM,L (-3),1,36:05,...,4,6,9,0,0,0,3,15,12.9,+3
1,2,2,2022-10-21,26-051,NYK,NaN,DET,W (+24),1,28:22,...,2,2,6,1,0,0,2,17,15.9,+3
2,3,3,2022-10-24,26-054,NYK,NaN,ORL,W (+13),1,33:02,...,3,3,6,2,0,3,5,21,15.1,+17
3,4,4,2022-10-26,26-056,NYK,NaN,CHO,W (+3),1,40:35,...,7,7,13,1,1,3,2,27,29.6,+7
4,5,5,2022-10-28,26-058,NYK,@,MIL,L (-11),1,33:08,...,3,3,2,1,0,3,3,13,5.1,-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,79,76,2022-04-03,25-215,DAL,@,MIL,W (+6),1,36:14,...,3,3,1,1,0,1,1,15,9.8,+6
82,80,77,2022-04-06,25-218,DAL,@,DET,W (+18),1,34:37,...,5,6,3,1,0,0,3,24,20.8,+22
83,Rk,G,Date,Age,Tm,NaN,Opp,NaN,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
84,81,78,2022-04-08,25-220,DAL,NaN,POR,W (+50),1,22:19,...,2,3,2,0,0,0,1,9,7.9,+18
85,82,79,2022-04-10,25-222,DAL,NaN,SAS,W (+10),1,24:41,...,6,6,5,0,0,1,0,18,15.6,+12

In [25]:
combined_stats_df = pd.concat([combined_stats_df, stats_18_20_stats])
combined_stats_df

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,2022-10-19,26-049,NYK,@,MEM,L (-3),1,36:05,...,4,6,9,0,0,0,3,15,12.9,+3
1,2,2,2022-10-21,26-051,NYK,NaN,DET,W (+24),1,28:22,...,2,2,6,1,0,0,2,17,15.9,+3
2,3,3,2022-10-24,26-054,NYK,NaN,ORL,W (+13),1,33:02,...,3,3,6,2,0,3,5,21,15.1,+17
3,4,4,2022-10-26,26-056,NYK,NaN,CHO,W (+3),1,40:35,...,7,7,13,1,1,3,2,27,29.6,+7
4,5,5,2022-10-28,26-058,NYK,@,MIL,L (-11),1,33:08,...,3,3,2,1,0,3,3,13,5.1,-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,63,NaN,2020-03-04,23-186,DAL,NaN,NOP,W (+4),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
66,64,NaN,2020-03-06,23-188,DAL,NaN,MEM,W (+25),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
67,65,NaN,2020-03-08,23-190,DAL,NaN,IND,L (-3),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
68,66,NaN,2020-03-10,23-192,DAL,@,SAS,L (-10),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
69,67,NaN,2020-03-11,23-193,DAL,NaN,DEN,W (+16),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive

### Combined_stats_df has 6 seasons worth of game stats

In [26]:
combined_stats_df.reset_index(drop=True, inplace=True)
combined_stats_df.head(20)

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,2022-10-19,26-049,NYK,@,MEM,L (-3),1,36:05,...,4,6,9,0,0,0,3,15,12.9,+3
1,2,2,2022-10-21,26-051,NYK,NaN,DET,W (+24),1,28:22,...,2,2,6,1,0,0,2,17,15.9,+3
2,3,3,2022-10-24,26-054,NYK,NaN,ORL,W (+13),1,33:02,...,3,3,6,2,0,3,5,21,15.1,+17
3,4,4,2022-10-26,26-056,NYK,NaN,CHO,W (+3),1,40:35,...,7,7,13,1,1,3,2,27,29.6,+7
4,5,5,2022-10-28,26-058,NYK,@,MIL,L (-11),1,33:08,...,3,3,2,1,0,3,3,13,5.1,-19
5,6,6,2022-10-30,26-060,NYK,@,CLE,L (-13),1,33:57,...,4,4,7,3,0,1,2,16,12.8,+2
6,7,7,2022-11-02,26-063,NYK,NaN,ATL,L (-13),1,31:00,...,1,1,5,0,1,3,2,20,13.0,-4
7,8,8,2022-11-04,26-065,NYK,@,PHI,W (+2),1,35:49,...,5,6,7,0,0,1,3,23,19.8,+11
8,9,9,2022-11-05,26-066,NYK,NaN,BOS,L (-15),1,32:41,...,3,3,10,0,0,0,1,22,21.6,-3
9,10,10,2022-11-07,26-068,NYK,@,MIN,W (+13),1,33:35,...,4,5,8,0,0,3,3,23,20.1,+5
10,11,11,2022-11-09,26-070,NYK,@,BRK,L (-27),1,30:58,...,3,4,2,0,0,3,0,14,5.8,-22
11,12,12,2022-11-11,26-072,NYK,NaN,DET,W (+9),1,32:41,...,1,1,7,4,0,0,3,26,26.0,+8
12,13,13,2022-11-13,26-074,NYK,NaN,OKC,L (-10),1,23:58,...,1,1,7,3,0,1,2,17,19.1,-20
13,14,14,2022-11-15,26-076,NYK,@,UTA,W (+7),1,34:24,...,2,3,8,3,0,4,5,25,18.9,+9
14,15,15,2022-11-16,26-077,NYK,@,DEN,W (+3),1,31:07,...,5,5,7,0,0,1,2,21,19.3,+1
15,16,16,2022-11-18,26-079,NYK,@,GSW,L (-10),1,31:41,...,5,5,4,2,0,2,1,13,8.6,-5
16,17,17,2022-11-20,26-081,NYK,@,PHO,L (-21),1,29:17,...,2,3,3,0,1,1,1,27,19.0,-22
17,18,18,2022-11-21,26-082,NYK,@,OKC,W (+10),1,34:15,...,0,0,9,1,0,2,1,34,30.1,+5
18,19,19,2022-11-25,26-086,NYK,NaN,POR,L (-3),1,41:18,...,4,5,4,0,0,1,5,32,22.3,-6
19,20,20,2022-11-27,26-088,NYK,NaN,MEM,L (-4),1,35:35,...,4,5,9,1,0,2,5,30,24.0,-1

## Cleaning and Preprocessing Data

In [27]:
# Renaming columns
combined_stats_df = combined_stats_df.rename(columns={'Unnamed: 5':'Home/Away', 'Unnamed: 7':'W/L'})
combined_stats_df.head()

,Rk,G,Date,Age,Tm,Home/Away,Opp,W/L,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,2022-10-19,26-049,NYK,@,MEM,L (-3),1,36:05,...,4,6,9,0,0,0,3,15,12.9,+3
1,2,2,2022-10-21,26-051,NYK,NaN,DET,W (+24),1,28:22,...,2,2,6,1,0,0,2,17,15.9,+3
2,3,3,2022-10-24,26-054,NYK,NaN,ORL,W (+13),1,33:02,...,3,3,6,2,0,3,5,21,15.1,+17
3,4,4,2022-10-26,26-056,NYK,NaN,CHO,W (+3),1,40:35,...,7,7,13,1,1,3,2,27,29.6,+7
4,5,5,2022-10-28,26-058,NYK,@,MIL,L (-11),1,33:08,...,3,3,2,1,0,3,3,13,5.1,-19

In [28]:
# Change '@' to 'Away' and Naan to Home
combined_stats_df['Home/Away'] = combined_stats_df['Home/Away'].replace('@', 'Away')
combined_stats_df['Home/Away'] = combined_stats_df['Home/Away'].replace(np.nan, 'Home')
combined_stats_df.head()

,Rk,G,Date,Age,Tm,Home/Away,Opp,W/L,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,2022-10-19,26-049,NYK,Away,MEM,L (-3),1,36:05,...,4,6,9,0,0,0,3,15,12.9,+3
1,2,2,2022-10-21,26-051,NYK,Home,DET,W (+24),1,28:22,...,2,2,6,1,0,0,2,17,15.9,+3
2,3,3,2022-10-24,26-054,NYK,Home,ORL,W (+13),1,33:02,...,3,3,6,2,0,3,5,21,15.1,+17
3,4,4,2022-10-26,26-056,NYK,Home,CHO,W (+3),1,40:35,...,7,7,13,1,1,3,2,27,29.6,+7
4,5,5,2022-10-28,26-058,NYK,Away,MIL,L (-11),1,33:08,...,3,3,2,1,0,3,3,13,5.1,-19

In [29]:
#Drop Age, Rank, and Games Started columns
combined_stats_df = combined_stats_df.drop(columns=['Age', 'Rk', 'GS'])
combined_stats_df.head()

,G,Date,Tm,Home/Away,Opp,W/L,MP,FG,FGA,FG%,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,2022-10-19,NYK,Away,MEM,L (-3),36:05,7,18,.389,...,4,6,9,0,0,0,3,15,12.9,+3
1,2,2022-10-21,NYK,Home,DET,W (+24),28:22,6,11,.545,...,2,2,6,1,0,0,2,17,15.9,+3
2,3,2022-10-24,NYK,Home,ORL,W (+13),33:02,8,16,.500,...,3,3,6,2,0,3,5,21,15.1,+17
3,4,2022-10-26,NYK,Home,CHO,W (+3),40:35,10,15,.667,...,7,7,13,1,1,3,2,27,29.6,+7
4,5,2022-10-28,NYK,Away,MIL,L (-11),33:08,3,10,.300,...,3,3,2,1,0,3,3,13,5.1,-19

In [30]:
# Drop Game Numeber column
combined_stats_df.drop(columns=['G'], inplace=True)

In [31]:
combined_stats_df.columns

Index(['Date', 'Tm', 'Home/Away', 'Opp', 'W/L', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL',
       'BLK', 'TOV', 'PF', 'PTS', 'GmSc', '+/-'],
      dtype='object')

In [32]:
combined_stats_df.rename(columns={'Tm': 'Team', 'W/L': 'W/L_G', 'MP' :'MP_G', 'FG': 'FG_G', 'FGA': 'FGA_G', '3P': '3P_G', 
                                  '3PA': '3PA_G', '3P%':'3P%_G', 'FT': 'FT_G', 'FTA': 'FTA_G', 'ORB': 'ORB_G', 'DRB': 'DRB_G', 'TRB': 'TRB_G', 'AST': 'AST_G', 'STL': 'STL_G', 
                                  'BLK': 'BLK_G', 'TOV': 'TOV_G', 'PF': 'PF_G', 'PTS': 'PTS_G', '+/-': 'Plus/Minus_G'}, inplace=True)
combined_stats_df.columns

Index(['Date', 'Team', 'Home/Away', 'Opp', 'W/L_G', 'MP_G', 'FG_G', 'FGA_G',
       'FG%', '3P_G', '3PA_G', '3P%_G', 'FT_G', 'FTA_G', 'FT%', 'ORB_G',
       'DRB_G', 'TRB_G', 'AST_G', 'STL_G', 'BLK_G', 'TOV_G', 'PF_G', 'PTS_G',
       'GmSc', 'Plus/Minus_G'],
      dtype='object')

Remove the headers that repeat inside the dataframe

In [33]:
pd.set_option('display.max_rows', 10)
combined_stats_df.reset_index(drop=True)

,Date,Team,Home/Away,Opp,W/L_G,MP_G,FG_G,FGA_G,FG%,3P_G,...,DRB_G,TRB_G,AST_G,STL_G,BLK_G,TOV_G,PF_G,PTS_G,GmSc,Plus/Minus_G
0,2022-10-19,NYK,Away,MEM,L (-3),36:05,7,18,.389,1,...,4,6,9,0,0,0,3,15,12.9,+3
1,2022-10-21,NYK,Home,DET,W (+24),28:22,6,11,.545,2,...,2,2,6,1,0,0,2,17,15.9,+3
2,2022-10-24,NYK,Home,ORL,W (+13),33:02,8,16,.500,2,...,3,3,6,2,0,3,5,21,15.1,+17
3,2022-10-26,NYK,Home,CHO,W (+3),40:35,10,15,.667,2,...,7,7,13,1,1,3,2,27,29.6,+7
4,2022-10-28,NYK,Away,MIL,L (-11),33:08,3,10,.300,1,...,3,3,2,1,0,3,3,13,5.1,-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
477,2020-03-04,DAL,Home,NOP,W (+4),Inactive,Inactive,Inactive,Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
478,2020-03-06,DAL,Home,MEM,W (+25),Inactive,Inactive,Inactive,Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
479,2020-03-08,DAL,Home,IND,L (-3),Inactive,Inactive,Inactive,Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
480,2020-03-10,DAL,Away,SAS,L (-10),Inactive,Inactive,Inactive,Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
481,2020-03-11,DAL,Home,DEN,W (+16),Inactive,Inactive,Inactive,Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive

In [34]:
combined_stats_df['Date'] = combined_stats_df['Date'].astype(str)

In [35]:
combined_stats_df

,Date,Team,Home/Away,Opp,W/L_G,MP_G,FG_G,FGA_G,FG%,3P_G,...,DRB_G,TRB_G,AST_G,STL_G,BLK_G,TOV_G,PF_G,PTS_G,GmSc,Plus/Minus_G
0,2022-10-19,NYK,Away,MEM,L (-3),36:05,7,18,.389,1,...,4,6,9,0,0,0,3,15,12.9,+3
1,2022-10-21,NYK,Home,DET,W (+24),28:22,6,11,.545,2,...,2,2,6,1,0,0,2,17,15.9,+3
2,2022-10-24,NYK,Home,ORL,W (+13),33:02,8,16,.500,2,...,3,3,6,2,0,3,5,21,15.1,+17
3,2022-10-26,NYK,Home,CHO,W (+3),40:35,10,15,.667,2,...,7,7,13,1,1,3,2,27,29.6,+7
4,2022-10-28,NYK,Away,MIL,L (-11),33:08,3,10,.300,1,...,3,3,2,1,0,3,3,13,5.1,-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
477,2020-03-04,DAL,Home,NOP,W (+4),Inactive,Inactive,Inactive,Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
478,2020-03-06,DAL,Home,MEM,W (+25),Inactive,Inactive,Inactive,Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
479,2020-03-08,DAL,Home,IND,L (-3),Inactive,Inactive,Inactive,Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
480,2020-03-10,DAL,Away,SAS,L (-10),Inactive,Inactive,Inactive,Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
481,2020-03-11,DAL,Home,DEN,W (+16),Inactive,Inactive,Inactive,Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive

In [36]:
combined_stats_df[combined_stats_df['Date'] == 'Date']
# There are 15 rows with the headers in them

,Date,Team,Home/Away,Opp,W/L_G,MP_G,FG_G,FGA_G,FG%,3P_G,...,DRB_G,TRB_G,AST_G,STL_G,BLK_G,TOV_G,PF_G,PTS_G,GmSc,Plus/Minus_G
20,Date,Tm,Home,Opp,NaN,MP,FG,FGA,FG%,3P,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
41,Date,Tm,Home,Opp,NaN,MP,FG,FGA,FG%,3P,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
62,Date,Tm,Home,Opp,NaN,MP,FG,FGA,FG%,3P,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
83,Date,Tm,Home,Opp,NaN,MP,FG,FGA,FG%,3P,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
106,Date,Tm,Home,Opp,NaN,MP,FG,FGA,FG%,3P,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,Date,Tm,Home,Opp,NaN,MP,FG,FGA,FG%,3P,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
267,Date,Tm,Home,Opp,NaN,MP,FG,FGA,FG%,3P,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
288,Date,Tm,Home,Opp,NaN,MP,FG,FGA,FG%,3P,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
309,Date,Tm,Home,Opp,NaN,MP,FG,FGA,FG%,3P,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
330,Date,Tm,Home,Opp,NaN,MP,FG,FGA,FG%,3P,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-

In [37]:
# Drop the rows with the repeated headers
combined_stats_df = combined_stats_df[combined_stats_df['Date'] != 'Date']
combined_stats_df.reset_index(drop=True)
combined_stats_df

,Date,Team,Home/Away,Opp,W/L_G,MP_G,FG_G,FGA_G,FG%,3P_G,...,DRB_G,TRB_G,AST_G,STL_G,BLK_G,TOV_G,PF_G,PTS_G,GmSc,Plus/Minus_G
0,2022-10-19,NYK,Away,MEM,L (-3),36:05,7,18,.389,1,...,4,6,9,0,0,0,3,15,12.9,+3
1,2022-10-21,NYK,Home,DET,W (+24),28:22,6,11,.545,2,...,2,2,6,1,0,0,2,17,15.9,+3
2,2022-10-24,NYK,Home,ORL,W (+13),33:02,8,16,.500,2,...,3,3,6,2,0,3,5,21,15.1,+17
3,2022-10-26,NYK,Home,CHO,W (+3),40:35,10,15,.667,2,...,7,7,13,1,1,3,2,27,29.6,+7
4,2022-10-28,NYK,Away,MIL,L (-11),33:08,3,10,.300,1,...,3,3,2,1,0,3,3,13,5.1,-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
477,2020-03-04,DAL,Home,NOP,W (+4),Inactive,Inactive,Inactive,Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
478,2020-03-06,DAL,Home,MEM,W (+25),Inactive,Inactive,Inactive,Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
479,2020-03-08,DAL,Home,IND,L (-3),Inactive,Inactive,Inactive,Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
480,2020-03-10,DAL,Away,SAS,L (-10),Inactive,Inactive,Inactive,Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
481,2020-03-11,DAL,Home,DEN,W (+16),Inactive,Inactive,Inactive,Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive

In [38]:
combined_stats_df['Date']= pd.to_datetime(combined_stats_df['Date'])
combined_stats_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 467 entries, 0 to 481
Data columns (total 26 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          467 non-null    datetime64[ns]
 1   Team          467 non-null    object
 2   Home/Away     467 non-null    object
 3   Opp           467 non-null    object
 4   W/L_G         467 non-null    object
 5   MP_G          467 non-null    object
 6   FG_G          467 non-null    object
 7   FGA_G         467 non-null    object
 8   FG%           462 non-null    object
 9   3P_G          467 non-null    object
 10  3PA_G         467 non-null    object
 11  3P%_G         433 non-null    object
 12  FT_G          467 non-null    object
 13  FTA_G         467 non-null    object
 14  FT%           362 non-null    object
 15  ORB_G         467 non-null    object
 16  DRB_G         467 non-null    object
 17  TRB_G         467 non-null    object
 18  AST_G         467 non-null    object
 19  STL_G         467 non-null    object
 20  BLK_G         467 non-null    object
 21  TOV_G         467 non-null    object
 22  PF_G          467 non-null    object
 23  PTS_G         467 non-null    object
 24  GmSc          467 non-null    object
 25  Plus/Minus_G  467 non-null    object
dtypes: datetime64[ns](1), object(25)
memory usage: 98.5+ KB

/var/folders/rj/3yvmqxnj3d17zpgh8wpywxvr0000gn/T/ipykernel_8466/2654197973.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_stats_df['Date']= pd.to_datetime(combined_stats_df['Date'])

Missing Values in 3P%, FT%

In [39]:
combined_stats_df.isna().value_counts()

Date   Team   Home/Away  Opp    W/L_G  MP_G   FG_G   FGA_G  FG%    3P_G   3PA_G  3P%_G  FT_G   FTA_G  FT%    ORB_G  DRB_G  TRB_G  AST_G  STL_G  BLK_G  TOV_G  PF_G   PTS_G  GmSc   Plus/Minus_G
False  False  False      False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False           345
                                                                                                      True   False  False  False  False  False  False  False  False  False  False  False            88
                                                                                 True   False  False  False  False  False  False  False  False  False  False  False  False  False  False            17
                                                                                                      True   False  False  False  False  False  False  False  False  False  False  False            12
                                                            True   False  False  True   False  False  True   False  False  False  False  False  False  False  False  False  False  False             5
Name: count, dtype: int64

In [40]:
# Filling Nans with 0 since there was no data for these values
combined_stats_df['3P%_G'].fillna(0, inplace=True)
combined_stats_df['FT%'].fillna(0, inplace=True)

combined_stats_df.isna().value_counts()

/var/folders/rj/3yvmqxnj3d17zpgh8wpywxvr0000gn/T/ipykernel_8466/1951895365.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  combined_stats_df['3P%_G'].fillna(0, inplace=True)
/var/folders/rj/3yvmqxnj3d17zpgh8wpywxvr0000gn/T/ipykernel_8466/1951895365.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_stats_df['3P%_G'].fillna(0, inplace=True)
/var/folders/rj/3yvmqxnj3d17zpgh8wpywxvr0000gn/T/ipykernel_8466/1951895365.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  combined_stats_df['FT%'].fillna(0, inplace=True)
/var/folders/rj/3yvmqxnj3d17zpgh8wpywxvr0000gn/T/ipykernel_8466/1951895365.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_stats_df['FT%'].fillna(0, inplace=True)

Date   Team   Home/Away  Opp    W/L_G  MP_G   FG_G   FGA_G  FG%    3P_G   3PA_G  3P%_G  FT_G   FTA_G  FT%    ORB_G  DRB_G  TRB_G  AST_G  STL_G  BLK_G  TOV_G  PF_G   PTS_G  GmSc   Plus/Minus_G
False  False  False      False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False           462
                                                            True   False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False             5
Name: count, dtype: int64

In [41]:
combined_stats_df.rename(columns = {'FT%': 'FT%_G'}, inplace=True)
combined_stats_df.rename(columns= {'FG%': 'FG%_G'}, inplace=True)

/var/folders/rj/3yvmqxnj3d17zpgh8wpywxvr0000gn/T/ipykernel_8466/430986113.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_stats_df.rename(columns = {'FT%': 'FT%_G'}, inplace=True)
/var/folders/rj/3yvmqxnj3d17zpgh8wpywxvr0000gn/T/ipykernel_8466/430986113.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_stats_df.rename(columns= {'FG%': 'FG%_G'}, inplace=True)

All missing values have been accounted for, removed, or filled.

# Converting data to proper types

In [42]:
# Encode game status 
status_mapping = {"Did Not Play": 99, "Did Not Dress": 99, "Inactive": 98}

# Apply mapping to non-numeric values
combined_stats_df.replace(status_mapping, inplace=True)

/var/folders/rj/3yvmqxnj3d17zpgh8wpywxvr0000gn/T/ipykernel_8466/879281504.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_stats_df.replace(status_mapping, inplace=True)

In [43]:
combined_stats_df.head()

,Date,Team,Home/Away,Opp,W/L_G,MP_G,FG_G,FGA_G,FG%_G,3P_G,...,DRB_G,TRB_G,AST_G,STL_G,BLK_G,TOV_G,PF_G,PTS_G,GmSc,Plus/Minus_G
0,2022-10-19,NYK,Away,MEM,L (-3),36:05,7,18,.389,1,...,4,6,9,0,0,0,3,15,12.9,+3
1,2022-10-21,NYK,Home,DET,W (+24),28:22,6,11,.545,2,...,2,2,6,1,0,0,2,17,15.9,+3
2,2022-10-24,NYK,Home,ORL,W (+13),33:02,8,16,.500,2,...,3,3,6,2,0,3,5,21,15.1,+17
3,2022-10-26,NYK,Home,CHO,W (+3),40:35,10,15,.667,2,...,7,7,13,1,1,3,2,27,29.6,+7
4,2022-10-28,NYK,Away,MIL,L (-11),33:08,3,10,.300,1,...,3,3,2,1,0,3,3,13,5.1,-19

In [44]:
#Create a new Results column and Winning Ratio column by splitting the W/L_G column

# Split into two columns
split_result = combined_stats_df['W/L_G'].str.split(' ', expand=True)
combined_stats_df['W/L_Ratio'] = split_result[1]

combined_stats_df.head()

/var/folders/rj/3yvmqxnj3d17zpgh8wpywxvr0000gn/T/ipykernel_8466/3755452902.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_stats_df['W/L_Ratio'] = split_result[1]

,Date,Team,Home/Away,Opp,W/L_G,MP_G,FG_G,FGA_G,FG%_G,3P_G,...,TRB_G,AST_G,STL_G,BLK_G,TOV_G,PF_G,PTS_G,GmSc,Plus/Minus_G,W/L_Ratio
0,2022-10-19,NYK,Away,MEM,L (-3),36:05,7,18,.389,1,...,6,9,0,0,0,3,15,12.9,+3,(-3)
1,2022-10-21,NYK,Home,DET,W (+24),28:22,6,11,.545,2,...,2,6,1,0,0,2,17,15.9,+3,(+24)
2,2022-10-24,NYK,Home,ORL,W (+13),33:02,8,16,.500,2,...,3,6,2,0,3,5,21,15.1,+17,(+13)
3,2022-10-26,NYK,Home,CHO,W (+3),40:35,10,15,.667,2,...,7,13,1,1,3,2,27,29.6,+7,(+3)
4,2022-10-28,NYK,Away,MIL,L (-11),33:08,3,10,.300,1,...,3,2,1,0,3,3,13,5.1,-19,(-11)

In [45]:
# Don't need the W/L_G column anymore
combined_stats_df.drop(columns=['W/L_G'], inplace=True)

#Strip the W/L_Ratio column of the ()
combined_stats_df['W/L_Ratio'] = combined_stats_df['W/L_Ratio'].str.strip('()')
combined_stats_df.head()

/var/folders/rj/3yvmqxnj3d17zpgh8wpywxvr0000gn/T/ipykernel_8466/1247987410.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_stats_df.drop(columns=['W/L_G'], inplace=True)
/var/folders/rj/3yvmqxnj3d17zpgh8wpywxvr0000gn/T/ipykernel_8466/1247987410.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_stats_df['W/L_Ratio'] = combined_stats_df['W/L_Ratio'].str.strip('()')

,Date,Team,Home/Away,Opp,MP_G,FG_G,FGA_G,FG%_G,3P_G,3PA_G,...,TRB_G,AST_G,STL_G,BLK_G,TOV_G,PF_G,PTS_G,GmSc,Plus/Minus_G,W/L_Ratio
0,2022-10-19,NYK,Away,MEM,36:05,7,18,.389,1,4,...,6,9,0,0,0,3,15,12.9,+3,-3
1,2022-10-21,NYK,Home,DET,28:22,6,11,.545,2,4,...,2,6,1,0,0,2,17,15.9,+3,+24
2,2022-10-24,NYK,Home,ORL,33:02,8,16,.500,2,4,...,3,6,2,0,3,5,21,15.1,+17,+13
3,2022-10-26,NYK,Home,CHO,40:35,10,15,.667,2,5,...,7,13,1,1,3,2,27,29.6,+7,+3
4,2022-10-28,NYK,Away,MIL,33:08,3,10,.300,1,4,...,3,2,1,0,3,3,13,5.1,-19,-11

In [46]:
combined_stats_df.columns

Index(['Date', 'Team', 'Home/Away', 'Opp', 'MP_G', 'FG_G', 'FGA_G', 'FG%_G',
       '3P_G', '3PA_G', '3P%_G', 'FT_G', 'FTA_G', 'FT%_G', 'ORB_G', 'DRB_G',
       'TRB_G', 'AST_G', 'STL_G', 'BLK_G', 'TOV_G', 'PF_G', 'PTS_G', 'GmSc',
       'Plus/Minus_G', 'W/L_Ratio'],
      dtype='object')

In [44]:
combined_stats_df.reset_index(drop=True, inplace=True)
combined_stats_df

,Date,Team,Home/Away,Opp,W/L_G,MP_G,FG_G,FGA_G,FG%_G,3P_G,...,DRB_G,TRB_G,AST_G,STL_G,BLK_G,TOV_G,PF_G,PTS_G,GmSc,Plus/Minus_G
0,2022-10-19,NYK,Away,MEM,L,36:05,7,18,.389,1,...,4,6,9,0,0,0,3,15,12.9,+3
1,2022-10-21,NYK,Home,DET,W,28:22,6,11,.545,2,...,2,2,6,1,0,0,2,17,15.9,+3
2,2022-10-24,NYK,Home,ORL,W,33:02,8,16,.500,2,...,3,3,6,2,0,3,5,21,15.1,+17
3,2022-10-26,NYK,Home,CHO,W,40:35,10,15,.667,2,...,7,7,13,1,1,3,2,27,29.6,+7
4,2022-10-28,NYK,Away,MIL,L,33:08,3,10,.300,1,...,3,3,2,1,0,3,3,13,5.1,-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
462,2020-03-04,DAL,Home,NOP,W,98,98,98,98,98,...,98,98,98,98,98,98,98,98,98,98
463,2020-03-06,DAL,Home,MEM,W,98,98,98,98,98,...,98,98,98,98,98,98,98,98,98,98
464,2020-03-08,DAL,Home,IND,L,98,98,98,98,98,...,98,98,98,98,98,98,98,98,98,98
465,2020-03-10,DAL,Away,SAS,L,98,98,98,98,98,...,98,98,98,98,98,98,98,98,98,98
466,2020-03-11,DAL,Home,DEN,W,98,98,98,98,98,...,98,98,98,98,98,98,98,98,98,98

In [47]:
combined_stats_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 467 entries, 0 to 481
Data columns (total 26 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          467 non-null    datetime64[ns]
 1   Team          467 non-null    object
 2   Home/Away     467 non-null    object
 3   Opp           467 non-null    object
 4   MP_G          467 non-null    object
 5   FG_G          467 non-null    object
 6   FGA_G         467 non-null    object
 7   FG%_G         462 non-null    object
 8   3P_G          467 non-null    object
 9   3PA_G         467 non-null    object
 10  3P%_G         467 non-null    object
 11  FT_G          467 non-null    object
 12  FTA_G         467 non-null    object
 13  FT%_G         467 non-null    object
 14  ORB_G         467 non-null    object
 15  DRB_G         467 non-null    object
 16  TRB_G         467 non-null    object
 17  AST_G         467 non-null    object
 18  STL_G         467 non-null    object
 19  BLK_G         467 non-null    object
 20  TOV_G         467 non-null    object
 21  PF_G          467 non-null    object
 22  PTS_G         467 non-null    object
 23  GmSc          467 non-null    object
 24  Plus/Minus_G  467 non-null    object
 25  W/L_Ratio     467 non-null    object
dtypes: datetime64[ns](1), object(25)
memory usage: 98.5+ KB

In [48]:
# In order to clean up Minutes Played column, convert it to a string first
combined_stats_df['MP_G'] = combined_stats_df['MP_G'].astype(str)

/var/folders/rj/3yvmqxnj3d17zpgh8wpywxvr0000gn/T/ipykernel_8466/1468593744.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_stats_df['MP_G'] = combined_stats_df['MP_G'].astype(str)

In [49]:
# Strip any whitespace we might not see
combined_stats_df['MP_G'] = combined_stats_df['MP_G'].str.strip()
combined_stats_df['MP_G']

/var/folders/rj/3yvmqxnj3d17zpgh8wpywxvr0000gn/T/ipykernel_8466/2006001973.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_stats_df['MP_G'] = combined_stats_df['MP_G'].str.strip()

0      36:05
1      28:22
2      33:02
3      40:35
4      33:08
       ...
477       98
478       98
479       98
480       98
481       98
Name: MP_G, Length: 467, dtype: object

In [50]:
# Custom function to split on the colon where there is one and return the minutes as an integer
def convert_to_minutes(time_str):
    try:
        if ':' in str(time_str):
            minutes, seconds = str(time_str).split(':')
            return int(minutes)
        return time_str  # Keep original value if no colon
    except:
        return time_str  # Keep original value if conversion fails

combined_stats_df['MP_G'] = combined_stats_df['MP_G'].apply(convert_to_minutes)

/var/folders/rj/3yvmqxnj3d17zpgh8wpywxvr0000gn/T/ipykernel_8466/2211190143.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_stats_df['MP_G'] = combined_stats_df['MP_G'].apply(convert_to_minutes)

In [51]:
combined_stats_df

,Date,Team,Home/Away,Opp,MP_G,FG_G,FGA_G,FG%_G,3P_G,3PA_G,...,TRB_G,AST_G,STL_G,BLK_G,TOV_G,PF_G,PTS_G,GmSc,Plus/Minus_G,W/L_Ratio
0,2022-10-19,NYK,Away,MEM,36,7,18,.389,1,4,...,6,9,0,0,0,3,15,12.9,+3,-3
1,2022-10-21,NYK,Home,DET,28,6,11,.545,2,4,...,2,6,1,0,0,2,17,15.9,+3,+24
2,2022-10-24,NYK,Home,ORL,33,8,16,.500,2,4,...,3,6,2,0,3,5,21,15.1,+17,+13
3,2022-10-26,NYK,Home,CHO,40,10,15,.667,2,5,...,7,13,1,1,3,2,27,29.6,+7,+3
4,2022-10-28,NYK,Away,MIL,33,3,10,.300,1,4,...,3,2,1,0,3,3,13,5.1,-19,-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
477,2020-03-04,DAL,Home,NOP,98,98,98,98,98,98,...,98,98,98,98,98,98,98,98,98,+4
478,2020-03-06,DAL,Home,MEM,98,98,98,98,98,98,...,98,98,98,98,98,98,98,98,98,+25
479,2020-03-08,DAL,Home,IND,98,98,98,98,98,98,...,98,98,98,98,98,98,98,98,98,-3
480,2020-03-10,DAL,Away,SAS,98,98,98,98,98,98,...,98,98,98,98,98,98,98,98,98,-10
481,2020-03-11,DAL,Home,DEN,98,98,98,98,98,98,...,98,98,98,98,98,98,98,98,98,+16

In [52]:
# Convert numeric columns to int/float
float_cols = ['FG%_G','3P%_G', 'FT%_G', 'GmSc']
combined_stats_df[float_cols] = combined_stats_df[float_cols].astype(float)
combined_stats_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 467 entries, 0 to 481
Data columns (total 26 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          467 non-null    datetime64[ns]
 1   Team          467 non-null    object
 2   Home/Away     467 non-null    object
 3   Opp           467 non-null    object
 4   MP_G          467 non-null    object
 5   FG_G          467 non-null    object
 6   FGA_G         467 non-null    object
 7   FG%_G         462 non-null    float64
 8   3P_G          467 non-null    object
 9   3PA_G         467 non-null    object
 10  3P%_G         467 non-null    float64
 11  FT_G          467 non-null    object
 12  FTA_G         467 non-null    object
 13  FT%_G         467 non-null    float64
 14  ORB_G         467 non-null    object
 15  DRB_G         467 non-null    object
 16  TRB_G         467 non-null    object
 17  AST_G         467 non-null    object
 18  STL_G         467 non-null    object
 19  BLK_G         467 non-null    object
 20  TOV_G         467 non-null    object
 21  PF_G          467 non-null    object
 22  PTS_G         467 non-null    object
 23  GmSc          467 non-null    float64
 24  Plus/Minus_G  467 non-null    object
 25  W/L_Ratio     467 non-null    object
dtypes: datetime64[ns](1), float64(4), object(21)
memory usage: 98.5+ KB

/var/folders/rj/3yvmqxnj3d17zpgh8wpywxvr0000gn/T/ipykernel_8466/3659052948.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_stats_df[float_cols] = combined_stats_df[float_cols].astype(float)

In [53]:
#Turn the non float columns into integer type
int_colums = ['MP_G', 'FG_G', 'FGA_G', '3P_G', '3PA_G','FT_G', 'FTA_G', 'ORB_G', 'DRB_G', 'TRB_G', 'AST_G', 'STL_G', 'BLK_G', 'TOV_G', 'PF_G', 'Plus/Minus_G']
combined_stats_df[int_colums] = combined_stats_df[int_colums].astype(int)
combined_stats_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 467 entries, 0 to 481
Data columns (total 26 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          467 non-null    datetime64[ns]
 1   Team          467 non-null    object
 2   Home/Away     467 non-null    object
 3   Opp           467 non-null    object
 4   MP_G          467 non-null    int64
 5   FG_G          467 non-null    int64
 6   FGA_G         467 non-null    int64
 7   FG%_G         462 non-null    float64
 8   3P_G          467 non-null    int64
 9   3PA_G         467 non-null    int64
 10  3P%_G         467 non-null    float64
 11  FT_G          467 non-null    int64
 12  FTA_G         467 non-null    int64
 13  FT%_G         467 non-null    float64
 14  ORB_G         467 non-null    int64
 15  DRB_G         467 non-null    int64
 16  TRB_G         467 non-null    int64
 17  AST_G         467 non-null    int64
 18  STL_G         467 non-null    int64
 19  BLK_G         467 non-null    int64
 20  TOV_G         467 non-null    int64
 21  PF_G          467 non-null    int64
 22  PTS_G         467 non-null    object
 23  GmSc          467 non-null    float64
 24  Plus/Minus_G  467 non-null    int64
 25  W/L_Ratio     467 non-null    object
dtypes: datetime64[ns](1), float64(4), int64(16), object(5)
memory usage: 98.5+ KB

/var/folders/rj/3yvmqxnj3d17zpgh8wpywxvr0000gn/T/ipykernel_8466/427836721.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_stats_df[int_colums] = combined_stats_df[int_colums].astype(int)

In [54]:
combined_stats_df.head()

,Date,Team,Home/Away,Opp,MP_G,FG_G,FGA_G,FG%_G,3P_G,3PA_G,...,TRB_G,AST_G,STL_G,BLK_G,TOV_G,PF_G,PTS_G,GmSc,Plus/Minus_G,W/L_Ratio
0,2022-10-19,NYK,Away,MEM,36,7,18,0.389,1,4,...,6,9,0,0,0,3,15,12.9,3,-3
1,2022-10-21,NYK,Home,DET,28,6,11,0.545,2,4,...,2,6,1,0,0,2,17,15.9,3,+24
2,2022-10-24,NYK,Home,ORL,33,8,16,0.500,2,4,...,3,6,2,0,3,5,21,15.1,17,+13
3,2022-10-26,NYK,Home,CHO,40,10,15,0.667,2,5,...,7,13,1,1,3,2,27,29.6,7,+3
4,2022-10-28,NYK,Away,MIL,33,3,10,0.300,1,4,...,3,2,1,0,3,3,13,5.1,-19,-11

In [55]:
combined_stats_df.isna().value_counts()

Date   Team   Home/Away  Opp    MP_G   FG_G   FGA_G  FG%_G  3P_G   3PA_G  3P%_G  FT_G   FTA_G  FT%_G  ORB_G  DRB_G  TRB_G  AST_G  STL_G  BLK_G  TOV_G  PF_G   PTS_G  GmSc   Plus/Minus_G  W/L_Ratio
False  False  False      False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False         False        462
                                                     True   False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False         False          5
Name: count, dtype: int64

In [56]:
# Fill missing values in FG%_G with 0
combined_stats_df['FG%_G'].fillna(0, inplace=True)
combined_stats_df.isna().value_counts()

/var/folders/rj/3yvmqxnj3d17zpgh8wpywxvr0000gn/T/ipykernel_8466/1897517518.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  combined_stats_df['FG%_G'].fillna(0, inplace=True)
/var/folders/rj/3yvmqxnj3d17zpgh8wpywxvr0000gn/T/ipykernel_8466/1897517518.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_stats_df['FG%_G'].fillna(0, inplace=True)

Date   Team   Home/Away  Opp    MP_G   FG_G   FGA_G  FG%_G  3P_G   3PA_G  3P%_G  FT_G   FTA_G  FT%_G  ORB_G  DRB_G  TRB_G  AST_G  STL_G  BLK_G  TOV_G  PF_G   PTS_G  GmSc   Plus/Minus_G  W/L_Ratio
False  False  False      False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False         False        467
Name: count, dtype: int64

In [59]:
# Create a Season column for combined stats:

def get_season_from_date(date):
    # Convert date to datetime if it's not already
    date = pd.to_datetime(date)
    year = date.year
    month = date.month

    if 10 <= month <=12:
        season = f"{year}-{str(year + 1)[2:]}"
        return season
    elif 1<= month <=5:
        season2 = f"{year - 1}-{str(year)[2:]}"
        return season2
    else:
        return None

combined_stats_df['Season'] = combined_stats_df['Date'].apply(get_season_from_date)

combined_stats_df

/var/folders/rj/3yvmqxnj3d17zpgh8wpywxvr0000gn/T/ipykernel_8466/2088702986.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_stats_df['Season'] = combined_stats_df['Date'].apply(get_season_from_date)

,Date,Team,Home/Away,Opp,MP_G,FG_G,FGA_G,FG%_G,3P_G,3PA_G,...,AST_G,STL_G,BLK_G,TOV_G,PF_G,PTS_G,GmSc,Plus/Minus_G,W/L_Ratio,Season
0,2022-10-19,NYK,Away,MEM,36,7,18,0.389,1,4,...,9,0,0,0,3,15,12.9,3,-3,2022-23
1,2022-10-21,NYK,Home,DET,28,6,11,0.545,2,4,...,6,1,0,0,2,17,15.9,3,+24,2022-23
2,2022-10-24,NYK,Home,ORL,33,8,16,0.500,2,4,...,6,2,0,3,5,21,15.1,17,+13,2022-23
3,2022-10-26,NYK,Home,CHO,40,10,15,0.667,2,5,...,13,1,1,3,2,27,29.6,7,+3,2022-23
4,2022-10-28,NYK,Away,MIL,33,3,10,0.300,1,4,...,2,1,0,3,3,13,5.1,-19,-11,2022-23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
477,2020-03-04,DAL,Home,NOP,98,98,98,98.000,98,98,...,98,98,98,98,98,98,98.0,98,+4,2019-20
478,2020-03-06,DAL,Home,MEM,98,98,98,98.000,98,98,...,98,98,98,98,98,98,98.0,98,+25,2019-20
479,2020-03-08,DAL,Home,IND,98,98,98,98.000,98,98,...,98,98,98,98,98,98,98.0,98,-3,2019-20
480,2020-03-10,DAL,Away,SAS,98,98,98,98.000,98,98,...,98,98,98,98,98,98,98.0,98,-10,2019-20
481,2020-03-11,DAL,Home,DEN,98,98,98,98.000,98,98,...,98,98,98,98,98,98,98.0,98,+16,2019-20

In [60]:
combined_stats_df.isna().value_counts()

Date   Team   Home/Away  Opp    MP_G   FG_G   FGA_G  FG%_G  3P_G   3PA_G  3P%_G  FT_G   FTA_G  FT%_G  ORB_G  DRB_G  TRB_G  AST_G  STL_G  BLK_G  TOV_G  PF_G   PTS_G  GmSc   Plus/Minus_G  W/L_Ratio  Season
False  False  False      False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False         False      False     467
Name: count, dtype: int64

### Prepping seasonal data and advanced stats data to be combined with the combined data

In [68]:
seasonal_data

,Season,Age,Team,Pos,G_Sn,GS_Sn,Avg_MP_Sn,FG_Sn,FGA_Sn,FG%_Sn,...,ORB_Sn,DRB_Sn,TRB_Sn,AST_Sn,STL_Sn,BLK_Sn,TOV_Sn,PF_Sn,PTS_Sn,MVP
0,2018-19,22,DAL,PG,73.0,38.0,21.8,3.6,7.7,0.467,...,0.3,2.0,2.3,3.2,0.5,0.1,1.2,1.7,9.3,0
1,2019-20,23,DAL,PG,57.0,16.0,17.9,3.2,6.8,0.466,...,0.4,2.0,2.4,3.3,0.4,0.1,1.2,1.3,8.2,0
2,2020-21,24,DAL,PG,68.0,12.0,25.0,4.8,9.2,0.523,...,0.4,3.0,3.4,3.5,0.5,0.0,1.2,1.6,12.6,0
3,2021-22,25,DAL,SG,79.0,61.0,31.9,6.4,12.8,0.502,...,0.5,3.4,3.9,4.8,0.8,0.0,1.6,1.9,16.3,0
4,2022-23,26,NYK,PG,68.0,68.0,35.0,8.6,17.6,0.491,...,0.6,3.0,3.5,6.2,0.9,0.2,2.1,2.2,24.0,1
5,2023-24,27,NYK,PG,77.0,77.0,35.4,10.3,21.4,0.479,...,0.6,3.1,3.6,6.7,0.9,0.2,2.4,1.9,28.7,1

In [69]:
seasonal_data.rename(columns={'MP_Sn': 'Avg_MP_Sn'}, inplace=True)
seasonal_data

,Season,Age,Team,Pos,G_Sn,GS_Sn,Avg_MP_Sn,FG_Sn,FGA_Sn,FG%_Sn,...,ORB_Sn,DRB_Sn,TRB_Sn,AST_Sn,STL_Sn,BLK_Sn,TOV_Sn,PF_Sn,PTS_Sn,MVP
0,2018-19,22,DAL,PG,73.0,38.0,21.8,3.6,7.7,0.467,...,0.3,2.0,2.3,3.2,0.5,0.1,1.2,1.7,9.3,0
1,2019-20,23,DAL,PG,57.0,16.0,17.9,3.2,6.8,0.466,...,0.4,2.0,2.4,3.3,0.4,0.1,1.2,1.3,8.2,0
2,2020-21,24,DAL,PG,68.0,12.0,25.0,4.8,9.2,0.523,...,0.4,3.0,3.4,3.5,0.5,0.0,1.2,1.6,12.6,0
3,2021-22,25,DAL,SG,79.0,61.0,31.9,6.4,12.8,0.502,...,0.5,3.4,3.9,4.8,0.8,0.0,1.6,1.9,16.3,0
4,2022-23,26,NYK,PG,68.0,68.0,35.0,8.6,17.6,0.491,...,0.6,3.0,3.5,6.2,0.9,0.2,2.1,2.2,24.0,1
5,2023-24,27,NYK,PG,77.0,77.0,35.4,10.3,21.4,0.479,...,0.6,3.1,3.6,6.7,0.9,0.2,2.4,1.9,28.7,1

In [70]:
seasonal_data.drop(columns= ['MVP', 'Age'], inplace=True)
seasonal_data

,Season,Team,Pos,G_Sn,GS_Sn,Avg_MP_Sn,FG_Sn,FGA_Sn,FG%_Sn,3P_Sn,...,FT%_Sn,ORB_Sn,DRB_Sn,TRB_Sn,AST_Sn,STL_Sn,BLK_Sn,TOV_Sn,PF_Sn,PTS_Sn
0,2018-19,DAL,PG,73.0,38.0,21.8,3.6,7.7,0.467,0.9,...,0.725,0.3,2.0,2.3,3.2,0.5,0.1,1.2,1.7,9.3
1,2019-20,DAL,PG,57.0,16.0,17.9,3.2,6.8,0.466,0.8,...,0.813,0.4,2.0,2.4,3.3,0.4,0.1,1.2,1.3,8.2
2,2020-21,DAL,PG,68.0,12.0,25.0,4.8,9.2,0.523,1.2,...,0.795,0.4,3.0,3.4,3.5,0.5,0.0,1.2,1.6,12.6
3,2021-22,DAL,SG,79.0,61.0,31.9,6.4,12.8,0.502,1.2,...,0.840,0.5,3.4,3.9,4.8,0.8,0.0,1.6,1.9,16.3
4,2022-23,NYK,PG,68.0,68.0,35.0,8.6,17.6,0.491,2.0,...,0.829,0.6,3.0,3.5,6.2,0.9,0.2,2.1,2.2,24.0
5,2023-24,NYK,PG,77.0,77.0,35.4,10.3,21.4,0.479,2.7,...,0.847,0.6,3.1,3.6,6.7,0.9,0.2,2.4,1.9,28.7

In [76]:
seasonal_data.drop(columns= ['GS_Sn', 'G_Sn'], inplace=True)
seasonal_data.columns

Index(['Season', 'Team', 'Pos', 'Avg_MP_Sn', 'FG_Sn', 'FGA_Sn', 'FG%_Sn',
       '3P_Sn', '3PA_Sn', '3P%_Sn', '2P_Sn', '2PA_Sn', '2P%_Sn', 'eFG%_Sn',
       'FT_Sn', 'FTA_Sn', 'FT%_Sn', 'ORB_Sn', 'DRB_Sn', 'TRB_Sn', 'AST_Sn',
       'STL_Sn', 'BLK_Sn', 'TOV_Sn', 'PF_Sn', 'PTS_Sn'],
      dtype='object')

In [84]:
seasonal_data.isna().value_counts()

Season  Team   Pos    Avg_MP_Sn  FG_Sn  FGA_Sn  FG%_Sn  3P_Sn  3PA_Sn  3P%_Sn  2P_Sn  2PA_Sn  2P%_Sn  eFG%_Sn  FT_Sn  FTA_Sn  FT%_Sn  ORB_Sn  DRB_Sn  TRB_Sn  AST_Sn  STL_Sn  BLK_Sn  TOV_Sn  PF_Sn  PTS_Sn
False   False  False  False      False  False   False   False  False   False   False  False   False   False    False  False   False   False   False   False   False   False   False   False   False  False     6
Name: count, dtype: int64

In [77]:
adv_stats = pd.read_csv('./adv_stats.csv')
adv_stats.columns

Index(['Season', 'Team', 'Games_Sn', 'GS_Sn', 'MP', 'PER', 'TS%', '3PAr',
       'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%',
       'OWS', 'DWS', 'WS', 'WS/48', 'OBPM', 'DBPM', 'BPM', 'ValORP', 'Awards'],
      dtype='object')

In [72]:
adv_stats.drop(columns={'Awards'}, inplace=True)

In [79]:
adv_stats.rename(columns={'MP': 'Ttl_MP_Sn'}, inplace=True)
adv_stats

,Season,Team,Ttl_MP_Sn,PER,TS%,3PAr,FTr,ORB%,DRB%,TRB%,...,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,ValORP,Awards
0,2018-19,DAL,1591.0,12.7,0.549,0.320,0.212,1.7,9.6,5.7,...,19.1,1.5,1.0,2.6,0.077,-1.2,-0.5,-1.7,0.1,NaN
1,2019-20,DAL,1022.0,14.9,0.553,0.309,0.193,2.3,11.3,6.9,...,20.4,1.6,0.6,2.1,0.101,0.1,-1.0,-0.9,0.3,NaN
2,2020-21,DAL,1697.0,17.1,0.618,0.319,0.241,1.8,13.1,7.5,...,20.2,3.9,1.1,5.1,0.143,1.5,-0.6,0.9,1.2,6MOY-4
3,2021-22,DAL,2524.0,17.1,0.583,0.250,0.211,1.9,11.7,6.8,...,21.9,4.9,2.7,7.5,0.143,0.9,0.0,0.9,1.9,NaN
4,2022-23,NYK,2379.0,21.2,0.597,0.269,0.328,1.8,9.3,5.6,...,27.2,6.9,1.8,8.7,0.175,4.4,-0.5,3.9,3.5,"MVP-12,CPOY-4"
5,2023-24,NYK,2726.0,23.4,0.592,0.319,0.302,1.8,9.7,5.7,...,32.5,8.8,2.4,11.2,0.198,6.3,-0.4,5.8,5.4,"MVP-5,CPOY-5,AS,NBA2"

In [78]:
adv_stats.drop(columns= ['Games_Sn', 'GS_Sn'], inplace=True)
adv_stats

,Season,Team,MP,PER,TS%,3PAr,FTr,ORB%,DRB%,TRB%,...,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,ValORP,Awards
0,2018-19,DAL,1591.0,12.7,0.549,0.320,0.212,1.7,9.6,5.7,...,19.1,1.5,1.0,2.6,0.077,-1.2,-0.5,-1.7,0.1,NaN
1,2019-20,DAL,1022.0,14.9,0.553,0.309,0.193,2.3,11.3,6.9,...,20.4,1.6,0.6,2.1,0.101,0.1,-1.0,-0.9,0.3,NaN
2,2020-21,DAL,1697.0,17.1,0.618,0.319,0.241,1.8,13.1,7.5,...,20.2,3.9,1.1,5.1,0.143,1.5,-0.6,0.9,1.2,6MOY-4
3,2021-22,DAL,2524.0,17.1,0.583,0.250,0.211,1.9,11.7,6.8,...,21.9,4.9,2.7,7.5,0.143,0.9,0.0,0.9,1.9,NaN
4,2022-23,NYK,2379.0,21.2,0.597,0.269,0.328,1.8,9.3,5.6,...,27.2,6.9,1.8,8.7,0.175,4.4,-0.5,3.9,3.5,"MVP-12,CPOY-4"
5,2023-24,NYK,2726.0,23.4,0.592,0.319,0.302,1.8,9.7,5.7,...,32.5,8.8,2.4,11.2,0.198,6.3,-0.4,5.8,5.4,"MVP-5,CPOY-5,AS,NBA2"

In [82]:
adv_stats.drop(columns=['Awards'], inplace=True)
adv_stats.columns

Index(['Season', 'Team', 'Ttl_MP_Sn', 'PER', 'TS%', '3PAr', 'FTr', 'ORB%',
       'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%', 'OWS', 'DWS',
       'WS', 'WS/48', 'OBPM', 'DBPM', 'BPM', 'ValORP'],
      dtype='object')

In [83]:
adv_stats.isna().value_counts()

Season  Team   Ttl_MP_Sn  PER    TS%    3PAr   FTr    ORB%   DRB%   TRB%   AST%   STL%   BLK%   TOV%   USG%   OWS    DWS    WS     WS/48  OBPM   DBPM   BPM    ValORP
False   False  False      False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False     6
Name: count, dtype: int64

## First join the advanced stats and seasonal data together

In [85]:
adv_seasonal_data = pd.merge(adv_stats, seasonal_data, on=['Season', 'Team'], how='outer')
adv_seasonal_data

,Season,Team,Ttl_MP_Sn,PER,TS%,3PAr,FTr,ORB%,DRB%,TRB%,...,FT%_Sn,ORB_Sn,DRB_Sn,TRB_Sn,AST_Sn,STL_Sn,BLK_Sn,TOV_Sn,PF_Sn,PTS_Sn
0,2018-19,DAL,1591.0,12.7,0.549,0.320,0.212,1.7,9.6,5.7,...,0.725,0.3,2.0,2.3,3.2,0.5,0.1,1.2,1.7,9.3
1,2019-20,DAL,1022.0,14.9,0.553,0.309,0.193,2.3,11.3,6.9,...,0.813,0.4,2.0,2.4,3.3,0.4,0.1,1.2,1.3,8.2
2,2020-21,DAL,1697.0,17.1,0.618,0.319,0.241,1.8,13.1,7.5,...,0.795,0.4,3.0,3.4,3.5,0.5,0.0,1.2,1.6,12.6
3,2021-22,DAL,2524.0,17.1,0.583,0.250,0.211,1.9,11.7,6.8,...,0.840,0.5,3.4,3.9,4.8,0.8,0.0,1.6,1.9,16.3
4,2022-23,NYK,2379.0,21.2,0.597,0.269,0.328,1.8,9.3,5.6,...,0.829,0.6,3.0,3.5,6.2,0.9,0.2,2.1,2.2,24.0
5,2023-24,NYK,2726.0,23.4,0.592,0.319,0.302,1.8,9.7,5.7,...,0.847,0.6,3.1,3.6,6.7,0.9,0.2,2.4,1.9,28.7

### Check for missing values

In [86]:
adv_seasonal_data.isna().value_counts()

Season  Team   Ttl_MP_Sn  PER    TS%    3PAr   FTr    ORB%   DRB%   TRB%   AST%   STL%   BLK%   TOV%   USG%   OWS    DWS    WS     WS/48  OBPM   DBPM   BPM    ValORP  Pos    Avg_MP_Sn  FG_Sn  FGA_Sn  FG%_Sn  3P_Sn  3PA_Sn  3P%_Sn  2P_Sn  2PA_Sn  2P%_Sn  eFG%_Sn  FT_Sn  FTA_Sn  FT%_Sn  ORB_Sn  DRB_Sn  TRB_Sn  AST_Sn  STL_Sn  BLK_Sn  TOV_Sn  PF_Sn  PTS_Sn
False   False  False      False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False   False  False      False  False   False   False  False   False   False  False   False   False    False  False   False   False   False   False   False   False   False   False   False  False     6
Name: count, dtype: int64

In [87]:
combined_stats_df.isna().value_counts()

Date   Team   Home/Away  Opp    MP_G   FG_G   FGA_G  FG%_G  3P_G   3PA_G  3P%_G  FT_G   FTA_G  FT%_G  ORB_G  DRB_G  TRB_G  AST_G  STL_G  BLK_G  TOV_G  PF_G   PTS_G  GmSc   Plus/Minus_G  W/L_Ratio  Season
False  False  False      False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False         False      False     467
Name: count, dtype: int64

## Join the advanced and seasonal data with the combined game stats

In [88]:
combined_stats_df = pd.merge(combined_stats_df, adv_seasonal_data, on=['Season', 'Team'], how='outer')
combined_stats_df

,Date,Team,Home/Away,Opp,MP_G,FG_G,FGA_G,FG%_G,3P_G,3PA_G,...,FT%_Sn,ORB_Sn,DRB_Sn,TRB_Sn,AST_Sn,STL_Sn,BLK_Sn,TOV_Sn,PF_Sn,PTS_Sn
0,2018-10-17,DAL,Away,PHO,19,1,3,0.333,1,3,...,0.725,0.3,2.0,2.3,3.2,0.5,0.1,1.2,1.7,9.3
1,2018-10-20,DAL,Home,MIN,20,3,7,0.429,1,4,...,0.725,0.3,2.0,2.3,3.2,0.5,0.1,1.2,1.7,9.3
2,2018-10-22,DAL,Home,CHI,14,2,7,0.286,2,4,...,0.725,0.3,2.0,2.3,3.2,0.5,0.1,1.2,1.7,9.3
3,2018-10-24,DAL,Away,ATL,18,3,9,0.333,0,3,...,0.725,0.3,2.0,2.3,3.2,0.5,0.1,1.2,1.7,9.3
4,2018-10-26,DAL,Away,TOR,29,3,11,0.273,2,4,...,0.725,0.3,2.0,2.3,3.2,0.5,0.1,1.2,1.7,9.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
462,2024-04-07,NYK,Away,MIL,39,16,32,0.500,2,6,...,0.847,0.6,3.1,3.6,6.7,0.9,0.2,2.4,1.9,28.7
463,2024-04-09,NYK,Away,CHI,42,13,24,0.542,7,12,...,0.847,0.6,3.1,3.6,6.7,0.9,0.2,2.4,1.9,28.7
464,2024-04-11,NYK,Away,BOS,30,15,23,0.652,6,11,...,0.847,0.6,3.1,3.6,6.7,0.9,0.2,2.4,1.9,28.7
465,2024-04-12,NYK,Home,BRK,36,10,25,0.400,3,7,...,0.847,0.6,3.1,3.6,6.7,0.9,0.2,2.4,1.9,28.7
466,2024-04-14,NYK,Home,CHI,41,14,30,0.467,1,4,...,0.847,0.6,3.1,3.6,6.7,0.9,0.2,2.4,1.9,28.7

Done cleaning seasonal player stats and including advanced stats

In [90]:
combined_stats_df.columns

Index(['Date', 'Team', 'Home/Away', 'Opp', 'MP_G', 'FG_G', 'FGA_G', 'FG%_G',
       '3P_G', '3PA_G', '3P%_G', 'FT_G', 'FTA_G', 'FT%_G', 'ORB_G', 'DRB_G',
       'TRB_G', 'AST_G', 'STL_G', 'BLK_G', 'TOV_G', 'PF_G', 'PTS_G', 'GmSc',
       'Plus/Minus_G', 'W/L_Ratio', 'Season', 'Ttl_MP_Sn', 'PER', 'TS%',
       '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%',
       'USG%', 'OWS', 'DWS', 'WS', 'WS/48', 'OBPM', 'DBPM', 'BPM', 'ValORP',
       'Pos', 'Avg_MP_Sn', 'FG_Sn', 'FGA_Sn', 'FG%_Sn', '3P_Sn', '3PA_Sn',
       '3P%_Sn', '2P_Sn', '2PA_Sn', '2P%_Sn', 'eFG%_Sn', 'FT_Sn', 'FTA_Sn',
       'FT%_Sn', 'ORB_Sn', 'DRB_Sn', 'TRB_Sn', 'AST_Sn', 'STL_Sn', 'BLK_Sn',
       'TOV_Sn', 'PF_Sn', 'PTS_Sn'],
      dtype='object')

### Features
- Game Date
- Team
- Home/Away
- Opponent
- Minutes Played per Game
- Field Goals Made per Game**
- Field Goals Attempted per Game
- Field Goal Percentage per Game
- 3-Point Field Goals Made per Game**
- 3-Point Field Goals Attempted per Game
- 3-Point Field Goal Percentage per Game
- Free Throws Made per Game**
- Free Throws Attempted per Game
- Free Throw Percentage per Game
- Offensive Rebounds per Game
- Defensive Rebounds per Game
- Total Rebounds per Game
- Assists per Game
- Steals per Game
- Blocks per Game
- Turnovers per Game
- Personal Fouls per Game
- Total Points Scored per Game
- Game Score
- Plus/Minus per Game
- Win/Loss Ratio [Target]
- Season
- Total Minutes Played Per Season
- Player Efficiency Rate
- True Shooting Percentage
- 3 Pointer Attempte Rate
- Free Throw Rate
- Offensive Rebound Percentage
- Defensive Rebound Percentage
- Total Rebound Percentage
- Assist Percentage
- Steal Percentage
- Block Percentage
- Turnover Percentage
- Usage Percentage
- Offensive Win Shares
- Defensive Win Shares
- Win Shares
- Win Shares Per 48 Minutes
- Offensive Box Plus/Minus
- Defensive Box Plus/Minus
- Box Plus/Minus Per 100 Possessions
- Value Over Replacement Player
- Position
- Average Minutes Played per Game in a Season
- Average Field Goals made in a Season
- Average Field Goals Attempted in a Season
- Average Field Goal Percentage in a Season
- Average 3 Pointers Made in a Season
- Average 3 Pointers Attempted in a Season
- Average 3 Pointers Percentage in a Season
- Average 2 Pointers Made in a Season
- Average 2 Pointers Attempted in a Season
- Average 2 Pointer Percentage in a Season
- Effective Field Goal Percentage in a Season
- Average Free Throws Scored in a Season
- Average Free Throws Attempted in a Season
- Average Free Throw Percentage in a Season
- Average Offensive Rebounds in a Season
- Average Defensive Rebounds in a Season
- Average Total Rebounds in a Season
- Average Assists in a Season
- Average Steals in a Season
- Average Blocks in a Season
- Average Turnovers in a Season
- Average Personal Fouls in a Season
- Average Points Scored in a Season

In [91]:
combined_stats_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 467 entries, 0 to 466
Data columns (total 72 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          467 non-null    datetime64[ns]
 1   Team          467 non-null    object
 2   Home/Away     467 non-null    object
 3   Opp           467 non-null    object
 4   MP_G          467 non-null    int64
 5   FG_G          467 non-null    int64
 6   FGA_G         467 non-null    int64
 7   FG%_G         467 non-null    float64
 8   3P_G          467 non-null    int64
 9   3PA_G         467 non-null    int64
 10  3P%_G         467 non-null    float64
 11  FT_G          467 non-null    int64
 12  FTA_G         467 non-null    int64
 13  FT%_G         467 non-null    float64
 14  ORB_G         467 non-null    int64
 15  DRB_G         467 non-null    int64
 16  TRB_G         467 non-null    int64
 17  AST_G         467 non-null    int64
 18  STL_G         467 non-null    int64
 19  BLK_G         467 non-null    int64
 20  TOV_G         467 non-null    int64
 21  PF_G          467 non-null    int64
 22  PTS_G         467 non-null    object
 23  GmSc          467 non-null    float64
 24  Plus/Minus_G  467 non-null    int64
 25  W/L_Ratio     467 non-null    object
 26  Season        467 non-null    object
 27  Ttl_MP_Sn     467 non-null    float64
 28  PER           467 non-null    float64
 29  TS%           467 non-null    float64
 30  3PAr          467 non-null    float64
 31  FTr           467 non-null    float64
 32  ORB%          467 non-null    float64
 33  DRB%          467 non-null    float64
 34  TRB%          467 non-null    float64
 35  AST%          467 non-null    float64
 36  STL%          467 non-null    float64
 37  BLK%          467 non-null    float64
 38  TOV%          467 non-null    float64
 39  USG%          467 non-null    float64
 40  OWS           467 non-null    float64
 41  DWS           467 non-null    float64
 42  WS            467 non-null    float64
 43  WS/48         467 non-null    float64
 44  OBPM          467 non-null    float64
 45  DBPM          467 non-null    float64
 46  BPM           467 non-null    float64
 47  ValORP        467 non-null    float64
 48  Pos           467 non-null    object
 49  Avg_MP_Sn     467 non-null    float64
 50  FG_Sn         467 non-null    float64
 51  FGA_Sn        467 non-null    float64
 52  FG%_Sn        467 non-null    float64
 53  3P_Sn         467 non-null    float64
 54  3PA_Sn        467 non-null    float64
 55  3P%_Sn        467 non-null    float64
 56  2P_Sn         467 non-null    float64
 57  2PA_Sn        467 non-null    float64
 58  2P%_Sn        467 non-null    float64
 59  eFG%_Sn       467 non-null    float64
 60  FT_Sn         467 non-null    float64
 61  FTA_Sn        467 non-null    float64
 62  FT%_Sn        467 non-null    float64
 63  ORB_Sn        467 non-null    float64
 64  DRB_Sn        467 non-null    float64
 65  TRB_Sn        467 non-null    float64
 66  AST_Sn        467 non-null    float64
 67  STL_Sn        467 non-null    float64
 68  BLK_Sn        467 non-null    float64
 69  TOV_Sn        467 non-null    float64
 70  PF_Sn         467 non-null    float64
 71  PTS_Sn        467 non-null    float64
dtypes: datetime64[ns](1), float64(48), int64(16), object(7)
memory usage: 262.8+ KB

In [92]:
combined_stats_df.corr(numeric_only=True)

,MP_G,FG_G,FGA_G,FG%_G,3P_G,3PA_G,3P%_G,FT_G,FTA_G,FT%_G,...,FT%_Sn,ORB_Sn,DRB_Sn,TRB_Sn,AST_Sn,STL_Sn,BLK_Sn,TOV_Sn,PF_Sn,PTS_Sn
MP_G,1.000000,0.947417,0.968138,0.916488,0.923776,0.933813,0.917100,0.932623,0.935308,0.918270,...,0.150201,0.234392,0.129203,0.139685,0.240148,0.235138,0.196934,0.232863,0.233235,0.226881
FG_G,0.947417,1.000000,0.988763,0.991035,0.993747,0.995060,0.991158,0.992652,0.992384,0.991219,...,0.028828,0.081028,-0.032857,-0.024143,0.082550,0.059997,0.149130,0.084422,0.073491,0.070978
FGA_G,0.968138,0.988763,1.000000,0.966561,0.972233,0.979450,0.966986,0.976427,0.977583,0.967606,...,0.096013,0.171567,0.028929,0.040657,0.181093,0.151725,0.216896,0.184293,0.145068,0.170613
FG%_G,0.916488,0.991035,0.966561,1.000000,0.998776,0.996148,0.999964,0.995216,0.993632,0.999895,...,-0.030867,0.002539,-0.091585,-0.085175,-0.000961,-0.019129,0.096961,0.000937,0.010069,-0.013604
3P_G,0.923776,0.993747,0.972233,0.998776,1.000000,0.998478,0.998995,0.995226,0.993907,0.998722,...,-0.017772,0.021086,-0.080087,-0.073076,0.019669,-0.001176,0.112984,0.022255,0.023532,0.007897
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
STL_Sn,0.235138,0.059997,0.151725,-0.019129,-0.001176,0.023790,-0.017847,0.029525,0.037278,-0.015120,...,0.675482,0.909316,0.757145,0.781664,0.953076,1.000000,0.499917,0.921525,0.899227,0.926204
BLK_Sn,0.196934,0.149130,0.216896,0.096961,0.112984,0.134454,0.098041,0.138446,0.145784,0.100002,...,0.199602,0.552076,-0.106441,-0.061605,0.671120,0.499917,1.000000,0.730014,0.448259,0.655103
TOV_Sn,0.232863,0.084422,0.184293,0.000937,0.022255,0.051784,0.002300,0.055402,0.064076,0.005269,...,0.677319,0.925771,0.577472,0.613426,0.991969,0.921525,0.730014,1.000000,0.742932,0.985983
PF_Sn,0.233235,0.073491,0.145068,0.010069,0.023532,0.041555,0.011259,0.049994,0.057177,0.013387,...,0.366986,0.717599,0.635154,0.644237,0.789046,0.899227,0.448259,0.742932,1.000000,0.764234
PTS_Sn,0.226881,0.070978,0.170613,-0.013604,0.007897,0.037479,-0.012235,0.040910,0.049685,-0.009213,...,0.682411,0.928204,0.666516,0.694533,0.986710,0.926204,0.655103,0.985983,0.764234,1.000000

In [93]:
combined_stats_df.to_csv('./cleaned_data.csv', index=False)