# Data Scraping and Cleaning

### Extract Data from Basketball Reference

In [1]:
   pip install html5lib

Requirement already satisfied: html5lib in /Users/sabrinasayed/Documents/NBA Data/.conda/lib/python3.11/site-packages (1.1)
Requirement already satisfied: six>=1.9 in /Users/sabrinasayed/Documents/NBA Data/.conda/lib/python3.11/site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in /Users/sabrinasayed/Documents/NBA Data/.conda/lib/python3.11/site-packages (from html5lib) (0.5.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import requests
from bs4 import BeautifulSoup 
import pandas as pd

## Scraping Brunson's Seasonal Performance Stats

In [3]:
def get_seasonal_performance(url, table_id):
    try:
        response = requests.get(url)
        soup = BeautifulSoup(response.content, 'html.parser')

        stats_table = soup.find('table', {'id': table_id})
        if stats_table is None:
            print(f"Table with ID '{table_id}' not found.")
            return pd.DataFrame()
        
        last5_stats = pd.read_html(str(stats_table))[0]
        return last5_stats
    
    except Exception as e:
        print(f"Error retrieving {table_id} data:", e)
        return pd.DataFrame()
    
url = "https://www.basketball-reference.com/players/b/brunsja01.html"
table_id = "per_game_stats"

seasonal_data = get_seasonal_performance(url, table_id)
seasonal_data

/var/folders/rj/3yvmqxnj3d17zpgh8wpywxvr0000gn/T/ipykernel_4954/3231626906.py:11: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  last5_stats = pd.read_html(str(stats_table))[0]

,Season,Age,Team,Lg,Pos,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Awards
0,2018-19,22,DAL,NBA,PG,73.0,38.0,21.8,3.6,7.7,...,0.3,2.0,2.3,3.2,0.5,0.1,1.2,1.7,9.3,NaN
1,2019-20,23,DAL,NBA,PG,57.0,16.0,17.9,3.2,6.8,...,0.4,2.0,2.4,3.3,0.4,0.1,1.2,1.3,8.2,NaN
2,2020-21,24,DAL,NBA,PG,68.0,12.0,25.0,4.8,9.2,...,0.4,3.0,3.4,3.5,0.5,0.0,1.2,1.6,12.6,6MOY-4
3,2021-22,25,DAL,NBA,SG,79.0,61.0,31.9,6.4,12.8,...,0.5,3.4,3.9,4.8,0.8,0.0,1.6,1.9,16.3,NaN
4,2022-23,26,NYK,NBA,PG,68.0,68.0,35.0,8.6,17.6,...,0.6,3.0,3.5,6.2,0.9,0.2,2.1,2.2,24.0,"MVP-12,CPOY-4"
5,2023-24,27,NYK,NBA,PG,77.0,77.0,35.4,10.3,21.4,...,0.6,3.1,3.6,6.7,0.9,0.2,2.4,1.9,28.7,"MVP-5,CPOY-5,AS,NBA2"
6,2024-25,28,NYK,NBA,PG,9.0,9.0,34.6,9.0,18.9,...,0.4,2.4,2.9,6.6,0.4,0.0,1.8,2.1,25.0,NaN
7,7 Yrs,7 Yrs,7 Yrs,7 Yrs,NaN,431.0,281.0,28.4,6.4,13.0,...,0.5,2.7,3.2,4.7,0.7,0.1,1.6,1.8,17.1,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,DAL (4 Yrs),DAL (4 Yrs),DAL (4 Yrs),DAL (4 Yrs),NaN,277.0,127.0,24.7,4.6,9.3,...,0.4,2.6,3.0,3.7,0.6,0.0,1.3,1.7,11.9,NaN
10,NYK (3 Yrs),NYK (3 Yrs),NYK (3 Yrs),NYK (3 Yrs),NaN,154.0,154.0,35.2,9.5,19.6,...,0.6,3.0,3.5,6.5,0.9,0.2,2.2,2.0,26.4,NaN

In [4]:
import numpy as np

In [5]:
seasonal_data.rename(columns={'Awards': 'MVP'}, inplace=True)

In [6]:
seasonal_data.drop(index = [6, 7,8, 9, 10], inplace=True)
seasonal_data.drop(columns= ['Lg'], inplace=True)
seasonal_data['MVP'].replace(np.nan, 0, inplace=True)
seasonal_data

/var/folders/rj/3yvmqxnj3d17zpgh8wpywxvr0000gn/T/ipykernel_4954/1139532896.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  seasonal_data['MVP'].replace(np.nan, 0, inplace=True)

,Season,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,MVP
0,2018-19,22,DAL,PG,73.0,38.0,21.8,3.6,7.7,0.467,...,0.3,2.0,2.3,3.2,0.5,0.1,1.2,1.7,9.3,0
1,2019-20,23,DAL,PG,57.0,16.0,17.9,3.2,6.8,0.466,...,0.4,2.0,2.4,3.3,0.4,0.1,1.2,1.3,8.2,0
2,2020-21,24,DAL,PG,68.0,12.0,25.0,4.8,9.2,0.523,...,0.4,3.0,3.4,3.5,0.5,0.0,1.2,1.6,12.6,6MOY-4
3,2021-22,25,DAL,SG,79.0,61.0,31.9,6.4,12.8,0.502,...,0.5,3.4,3.9,4.8,0.8,0.0,1.6,1.9,16.3,0
4,2022-23,26,NYK,PG,68.0,68.0,35.0,8.6,17.6,0.491,...,0.6,3.0,3.5,6.2,0.9,0.2,2.1,2.2,24.0,"MVP-12,CPOY-4"
5,2023-24,27,NYK,PG,77.0,77.0,35.4,10.3,21.4,0.479,...,0.6,3.1,3.6,6.7,0.9,0.2,2.4,1.9,28.7,"MVP-5,CPOY-5,AS,NBA2"

In [7]:
# Replace values in MVP column
seasonal_data['MVP'] = seasonal_data['MVP'].apply(lambda x: 1 if 'MVP' in str(x) else 0)
seasonal_data

,Season,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,MVP
0,2018-19,22,DAL,PG,73.0,38.0,21.8,3.6,7.7,0.467,...,0.3,2.0,2.3,3.2,0.5,0.1,1.2,1.7,9.3,0
1,2019-20,23,DAL,PG,57.0,16.0,17.9,3.2,6.8,0.466,...,0.4,2.0,2.4,3.3,0.4,0.1,1.2,1.3,8.2,0
2,2020-21,24,DAL,PG,68.0,12.0,25.0,4.8,9.2,0.523,...,0.4,3.0,3.4,3.5,0.5,0.0,1.2,1.6,12.6,0
3,2021-22,25,DAL,SG,79.0,61.0,31.9,6.4,12.8,0.502,...,0.5,3.4,3.9,4.8,0.8,0.0,1.6,1.9,16.3,0
4,2022-23,26,NYK,PG,68.0,68.0,35.0,8.6,17.6,0.491,...,0.6,3.0,3.5,6.2,0.9,0.2,2.1,2.2,24.0,1
5,2023-24,27,NYK,PG,77.0,77.0,35.4,10.3,21.4,0.479,...,0.6,3.1,3.6,6.7,0.9,0.2,2.4,1.9,28.7,1

In [8]:
seasonal_data.columns

Index(['Season', 'Age', 'Team', 'Pos', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'MVP'],
      dtype='object')

In [9]:
seasonal_data.rename(columns= {'G':'G_Sn', 'GS':'GS_Sn', 'MP':'MP_Sn','FG':'FG_Sn', 'FGA':'FGA_Sn', 'FG%':'FG%_Sn',
       '3P':'3P_Sn', '3PA':'3PA_Sn', '3P%':'3P%_Sn', '2P':'2P_Sn', '2PA':'2PA_Sn', '2P%':'2P%_Sn', 'eFG%':'eFG%_Sn', 'FT':'FT_Sn', 'FTA':'FTA_Sn', 'FT%':'FT%_Sn',
       'ORB':'ORB_Sn', 'DRB':'DRB_Sn', 'TRB':'TRB_Sn', 'AST':'AST_Sn', 'STL':'STL_Sn', 'BLK':'BLK_Sn', 'TOV':'TOV_Sn', 'PF':'PF_Sn', 'PTS':'PTS_Sn'}, inplace=True)

seasonal_data

,Season,Age,Team,Pos,G_Sn,GS_Sn,MP_Sn,FG_Sn,FGA_Sn,FG%_Sn,...,ORB_Sn,DRB_Sn,TRB_Sn,AST_Sn,STL_Sn,BLK_Sn,TOV_Sn,PF_Sn,PTS_Sn,MVP
0,2018-19,22,DAL,PG,73.0,38.0,21.8,3.6,7.7,0.467,...,0.3,2.0,2.3,3.2,0.5,0.1,1.2,1.7,9.3,0
1,2019-20,23,DAL,PG,57.0,16.0,17.9,3.2,6.8,0.466,...,0.4,2.0,2.4,3.3,0.4,0.1,1.2,1.3,8.2,0
2,2020-21,24,DAL,PG,68.0,12.0,25.0,4.8,9.2,0.523,...,0.4,3.0,3.4,3.5,0.5,0.0,1.2,1.6,12.6,0
3,2021-22,25,DAL,SG,79.0,61.0,31.9,6.4,12.8,0.502,...,0.5,3.4,3.9,4.8,0.8,0.0,1.6,1.9,16.3,0
4,2022-23,26,NYK,PG,68.0,68.0,35.0,8.6,17.6,0.491,...,0.6,3.0,3.5,6.2,0.9,0.2,2.1,2.2,24.0,1
5,2023-24,27,NYK,PG,77.0,77.0,35.4,10.3,21.4,0.479,...,0.6,3.1,3.6,6.7,0.9,0.2,2.4,1.9,28.7,1

## Scraping Brunson's 2022-23 Game Stats

In [10]:
def get_22_23_season_stats(url, table_id):
    try:
        response = requests.get(url)
        soup = BeautifulSoup(response.content, 'html.parser')

        stats_table = soup.find('table', {'id': table_id})
        if stats_table is None:
            print(f"Table with ID '{table_id}' not found.")
            return pd.DataFrame()
        
        season_stats = pd.read_html(str(stats_table))[0]

        return season_stats
    
    except Exception as e:
        print(f"Error retrieving 22-23 season data:", e)
        return pd.DataFrame()

url = f"https://www.basketball-reference.com/players/b/brunsja01/gamelog/2023/"
table_id = "pgl_basic"

season_22_23_df = get_22_23_season_stats(url, table_id)

season_22_23_df

/var/folders/rj/3yvmqxnj3d17zpgh8wpywxvr0000gn/T/ipykernel_4954/634109390.py:11: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  season_stats = pd.read_html(str(stats_table))[0]

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,2022-10-19,26-049,NYK,@,MEM,L (-3),1,36:05,...,4,6,9,0,0,0,3,15,12.9,+3
1,2,2,2022-10-21,26-051,NYK,NaN,DET,W (+24),1,28:22,...,2,2,6,1,0,0,2,17,15.9,+3
2,3,3,2022-10-24,26-054,NYK,NaN,ORL,W (+13),1,33:02,...,3,3,6,2,0,3,5,21,15.1,+17
3,4,4,2022-10-26,26-056,NYK,NaN,CHO,W (+3),1,40:35,...,7,7,13,1,1,3,2,27,29.6,+7
4,5,5,2022-10-28,26-058,NYK,@,MIL,L (-11),1,33:08,...,3,3,2,1,0,3,3,13,5.1,-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,79,68,2023-04-02,26-214,NYK,NaN,WAS,W (+9),1,39:12,...,3,3,8,3,0,5,2,27,20.7,+19
82,80,NaN,2023-04-05,26-217,NYK,@,IND,W (+9),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
83,Rk,G,Date,Age,Tm,NaN,Opp,NaN,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
84,81,NaN,2023-04-07,26-219,NYK,@,NOP,L (-8),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
85,82,NaN,2023-04-09,26-221,NYK,NaN,IND,L (-5),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive

## Scraping Brunson's 2023-24 Game Stats

In [11]:
def get_23_24_season_stats(url, table_id):
    
    try:
        response = requests.get(url)
        soup = BeautifulSoup(response.content, 'html.parser')

        stats_table = soup.find('table', {'id': table_id})
        if stats_table is None:
            print(f"Table with ID '{table_id}' not found.")
            return pd.DataFrame()

        # Moved this line outside the if block
        season_stats = pd.read_html(str(stats_table))[0]

        return season_stats
    
    except Exception as e:
        print(f"Error retrieving 23-24 season data:", e)
        return pd.DataFrame()

url = f"https://www.basketball-reference.com/players/b/brunsja01/gamelog/2024"
table_id = "pgl_basic"
season_23_24_df = get_23_24_season_stats(url, table_id)

season_23_24_df

/var/folders/rj/3yvmqxnj3d17zpgh8wpywxvr0000gn/T/ipykernel_4954/798683490.py:13: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  season_stats = pd.read_html(str(stats_table))[0]

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,2023-10-25,27-055,NYK,NaN,BOS,L (-4),1,32:35,...,2,3,6,3,0,2,3,15,7.6,-9
1,2,2,2023-10-27,27-057,NYK,@,ATL,W (+6),1,32:42,...,3,3,5,0,0,2,1,31,22.3,+13
2,3,3,2023-10-28,27-058,NYK,@,NOP,L (-9),1,30:35,...,3,4,5,0,0,1,2,14,8.7,-9
3,4,4,2023-10-31,27-061,NYK,@,CLE,W (+18),1,33:40,...,5,5,2,2,0,5,1,19,9.7,+21
4,5,5,2023-11-01,27-062,NYK,NaN,CLE,L (-6),1,38:36,...,3,4,4,0,0,1,4,24,12.5,-6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,79,74,2024-04-09,27-222,NYK,@,CHI,W (+11),1,42:26,...,3,3,8,1,0,1,0,45,39.9,+9
82,80,75,2024-04-11,27-224,NYK,@,BOS,W (+9),1,30:02,...,2,2,4,0,0,2,2,39,28.7,+28
83,Rk,G,Date,Age,Tm,NaN,Opp,NaN,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
84,81,76,2024-04-12,27-225,NYK,NaN,BRK,W (+4),1,36:32,...,1,1,11,1,0,0,2,30,24.7,+7
85,82,77,2024-04-14,27-227,NYK,NaN,CHI,W (+1),1,41:11,...,6,8,7,0,0,4,1,40,27.9,+1

# Scraping Brunson's 2021-22 Game Stats

In [12]:
def get_21_22_season_stats(url, table_id):
    
    try:
        response = requests.get(url)
        soup = BeautifulSoup(response.content, 'html.parser')

        stats_table = soup.find('table', {'id': table_id})
        if stats_table is None:
            print(f"Table with ID '{table_id}' not found.")
            return pd.DataFrame()

        # Moved this line outside the if block
        season_stats = pd.read_html(str(stats_table))[0]

        return season_stats
    
    except Exception as e:
        print(f"Error retrieving 23-24 season data:", e)
        return pd.DataFrame()

url = f"https://www.basketball-reference.com/players/b/brunsja01/gamelog/2022/"
table_id = "pgl_basic"
season_21_22_df = get_21_22_season_stats(url, table_id)

season_21_22_df

/var/folders/rj/3yvmqxnj3d17zpgh8wpywxvr0000gn/T/ipykernel_4954/2955285888.py:13: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  season_stats = pd.read_html(str(stats_table))[0]

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,2021-10-21,25-051,DAL,@,ATL,L (-26),0,25:40,...,3,3,3,0,0,0,2,17,12.9,-8
1,2,2,2021-10-23,25-053,DAL,@,TOR,W (+8),0,22:42,...,4,6,4,1,0,1,3,5,3.7,+7
2,3,3,2021-10-26,25-056,DAL,NaN,HOU,W (+10),0,28:20,...,3,4,11,1,0,2,3,11,14.1,+7
3,4,4,2021-10-28,25-058,DAL,NaN,SAS,W (+5),0,30:06,...,6,7,5,0,0,0,2,19,16.1,+21
4,5,5,2021-10-29,25-059,DAL,@,DEN,L (-31),0,19:25,...,3,3,3,0,0,1,1,4,0.8,-7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,79,76,2022-04-03,25-215,DAL,@,MIL,W (+6),1,36:14,...,3,3,1,1,0,1,1,15,9.8,+6
82,80,77,2022-04-06,25-218,DAL,@,DET,W (+18),1,34:37,...,5,6,3,1,0,0,3,24,20.8,+22
83,Rk,G,Date,Age,Tm,NaN,Opp,NaN,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
84,81,78,2022-04-08,25-220,DAL,NaN,POR,W (+50),1,22:19,...,2,3,2,0,0,0,1,9,7.9,+18
85,82,79,2022-04-10,25-222,DAL,NaN,SAS,W (+10),1,24:41,...,6,6,5,0,0,1,0,18,15.6,+12

# Scraping Brunson's 2020-21 Game Stats

In [13]:
def get_20_21_season_stats(url, table_id):
    
    try:
        response = requests.get(url)
        soup = BeautifulSoup(response.content, 'html.parser')

        stats_table = soup.find('table', {'id': table_id})
        if stats_table is None:
            print(f"Table with ID '{table_id}' not found.")
            return pd.DataFrame()

        # Moved this line outside the if block
        season_stats = pd.read_html(str(stats_table))[0]

        return season_stats
    
    except Exception as e:
        print(f"Error retrieving 23-24 season data:", e)
        return pd.DataFrame()

url = f"https://www.basketball-reference.com/players/b/brunsja01/gamelog/2021/"
table_id = "pgl_basic"
season_20_21_df = get_20_21_season_stats(url, table_id)

season_20_21_df

/var/folders/rj/3yvmqxnj3d17zpgh8wpywxvr0000gn/T/ipykernel_4954/3225571562.py:13: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  season_stats = pd.read_html(str(stats_table))[0]

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,2020-12-23,24-114,DAL,@,PHO,L (-4),0,18:11,...,2,2,4,0,0,3,2,12,8.0,+3
1,2,2,2020-12-25,24-116,DAL,@,LAL,L (-23),0,13:52,...,2,2,1,0,0,3,2,4,-1.2,-9
2,3,3,2020-12-27,24-118,DAL,@,LAC,W (+51),0,13:19,...,2,2,3,0,0,0,0,11,11.1,+20
3,4,4,2020-12-30,24-121,DAL,NaN,CHO,L (-19),0,20:16,...,4,4,4,1,0,1,0,16,12.1,+4
4,5,5,2021-01-01,24-123,DAL,NaN,MIA,W (+10),0,12:11,...,3,3,2,2,0,1,1,2,1.8,-2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,68,64,2021-05-09,24-251,DAL,@,CLE,W (+27),0,18:38,...,1,1,7,2,0,1,1,13,17.3,+26
71,69,65,2021-05-11,24-253,DAL,@,MEM,L (-29),0,24:38,...,3,3,3,1,0,0,0,15,13.7,-13
72,70,66,2021-05-12,24-254,DAL,NaN,NOP,W (+18),0,18:14,...,3,3,6,0,0,0,3,5,5.7,+13
73,71,67,2021-05-14,24-256,DAL,NaN,TOR,W (+4),0,24:52,...,5,5,4,0,1,2,0,19,17.5,+4
74,72,68,2021-05-16,24-258,DAL,@,MIN,L (-15),0,26:38,...,0,0,3,1,0,2,2,15,9.3,0

## Scraping 2019-20 Regular Season Stats:

In [14]:
def get_19_20_season_stats(url, table_id):
    
    try:
        response = requests.get(url)
        soup = BeautifulSoup(response.content, 'html.parser')

        stats_table = soup.find('table', {'id': table_id})
        if stats_table is None:
            print(f"Table with ID '{table_id}' not found.")
            return pd.DataFrame()

        # Moved this line outside the if block
        season_stats = pd.read_html(str(stats_table))[0]

        return season_stats
    
    except Exception as e:
        print(f"Error retrieving 23-24 season data:", e)
        return pd.DataFrame()

url = f"https://www.basketball-reference.com/players/b/brunsja01/gamelog/2020"
table_id = "pgl_basic"
season_19_20_df = get_19_20_season_stats(url, table_id)

season_19_20_df

/var/folders/rj/3yvmqxnj3d17zpgh8wpywxvr0000gn/T/ipykernel_4954/3189815234.py:13: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  season_stats = pd.read_html(str(stats_table))[0]

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,2019-10-23,23-053,DAL,NaN,WAS,W (+8),0,24:20,...,3,4,3,2,0,4,3,9,2.9,+2
1,2,2,2019-10-25,23-055,DAL,@,NOP,W (+7),1,28:45,...,4,8,2,0,0,0,0,14,14.1,+4
2,3,3,2019-10-27,23-057,DAL,NaN,POR,L (-2),1,26:31,...,2,2,2,0,0,0,2,4,1.4,+6
3,4,4,2019-10-29,23-059,DAL,@,DEN,W (+3),0,15:30,...,4,4,8,0,0,0,0,11,12.2,+20
4,5,5,2019-11-01,23-062,DAL,NaN,LAL,L (-9),0,14:46,...,0,1,2,0,0,1,1,3,-0.5,-2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,63,NaN,2020-03-04,23-186,DAL,NaN,NOP,W (+4),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
66,64,NaN,2020-03-06,23-188,DAL,NaN,MEM,W (+25),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
67,65,NaN,2020-03-08,23-190,DAL,NaN,IND,L (-3),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
68,66,NaN,2020-03-10,23-192,DAL,@,SAS,L (-10),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
69,67,NaN,2020-03-11,23-193,DAL,NaN,DEN,W (+16),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive

## Scraping 2018-19 Regular Season Stats:

In [15]:
def get_18_19_season_stats(url, table_id):
    
    try:
        response = requests.get(url)
        soup = BeautifulSoup(response.content, 'html.parser')

        stats_table = soup.find('table', {'id': table_id})
        if stats_table is None:
            print(f"Table with ID '{table_id}' not found.")
            return pd.DataFrame()

        # Moved this line outside the if block
        season_stats = pd.read_html(str(stats_table))[0]

        return season_stats
    
    except Exception as e:
        print(f"Error retrieving 23-24 season data:", e)
        return pd.DataFrame()

url = f"https://www.basketball-reference.com/players/b/brunsja01/gamelog/2019/"
table_id = "pgl_basic"
season_18_19_df = get_18_19_season_stats(url, table_id)

season_18_19_df

/var/folders/rj/3yvmqxnj3d17zpgh8wpywxvr0000gn/T/ipykernel_4954/993096215.py:13: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  season_stats = pd.read_html(str(stats_table))[0]

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,2018-10-17,22-047,DAL,@,PHO,L (-21),0,19:07,...,1,1,1,0,0,0,1,3,1.9,-3
1,2,2,2018-10-20,22-050,DAL,NaN,MIN,W (+4),0,20:03,...,0,0,1,1,0,1,0,7,4.0,+2
2,3,3,2018-10-22,22-052,DAL,NaN,CHI,W (+6),0,14:33,...,1,1,2,1,0,0,0,6,4.6,+4
3,4,4,2018-10-24,22-054,DAL,@,ATL,L (-7),0,18:33,...,5,5,1,0,0,1,2,6,1.3,+5
4,5,5,2018-10-26,22-056,DAL,@,TOR,L (-9),1,29:41,...,3,3,4,1,0,2,2,8,3.4,-3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,79,NaN,2019-04-05,22-217,DAL,NaN,MEM,L (-10),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
82,80,71,2019-04-07,22-219,DAL,@,MEM,W (+2),1,23:40,...,2,2,10,1,0,1,3,12,14.4,-1
83,Rk,G,Date,Age,Tm,NaN,Opp,NaN,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
84,81,72,2019-04-09,22-221,DAL,NaN,PHO,W (+11),0,29:24,...,4,4,2,0,0,0,4,9,5.2,0
85,82,73,2019-04-10,22-222,DAL,@,SAS,L (-11),1,30:15,...,3,3,10,0,0,4,0,11,7.0,-11

### Combine 2018-19 and 2019-20 season stats

In [16]:
stats_18_20_stats = pd.concat([season_18_19_df, season_19_20_df])
stats_18_20_stats

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,2018-10-17,22-047,DAL,@,PHO,L (-21),0,19:07,...,1,1,1,0,0,0,1,3,1.9,-3
1,2,2,2018-10-20,22-050,DAL,NaN,MIN,W (+4),0,20:03,...,0,0,1,1,0,1,0,7,4.0,+2
2,3,3,2018-10-22,22-052,DAL,NaN,CHI,W (+6),0,14:33,...,1,1,2,1,0,0,0,6,4.6,+4
3,4,4,2018-10-24,22-054,DAL,@,ATL,L (-7),0,18:33,...,5,5,1,0,0,1,2,6,1.3,+5
4,5,5,2018-10-26,22-056,DAL,@,TOR,L (-9),1,29:41,...,3,3,4,1,0,2,2,8,3.4,-3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,63,NaN,2020-03-04,23-186,DAL,NaN,NOP,W (+4),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
66,64,NaN,2020-03-06,23-188,DAL,NaN,MEM,W (+25),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
67,65,NaN,2020-03-08,23-190,DAL,NaN,IND,L (-3),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
68,66,NaN,2020-03-10,23-192,DAL,@,SAS,L (-10),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
69,67,NaN,2020-03-11,23-193,DAL,NaN,DEN,W (+16),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive

In [17]:
pd.reset_option('display.max_columns', None)

In [18]:
stats_18_20_stats

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,2018-10-17,22-047,DAL,@,PHO,L (-21),0,19:07,...,1,1,1,0,0,0,1,3,1.9,-3
1,2,2,2018-10-20,22-050,DAL,NaN,MIN,W (+4),0,20:03,...,0,0,1,1,0,1,0,7,4.0,+2
2,3,3,2018-10-22,22-052,DAL,NaN,CHI,W (+6),0,14:33,...,1,1,2,1,0,0,0,6,4.6,+4
3,4,4,2018-10-24,22-054,DAL,@,ATL,L (-7),0,18:33,...,5,5,1,0,0,1,2,6,1.3,+5
4,5,5,2018-10-26,22-056,DAL,@,TOR,L (-9),1,29:41,...,3,3,4,1,0,2,2,8,3.4,-3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,63,NaN,2020-03-04,23-186,DAL,NaN,NOP,W (+4),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
66,64,NaN,2020-03-06,23-188,DAL,NaN,MEM,W (+25),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
67,65,NaN,2020-03-08,23-190,DAL,NaN,IND,L (-3),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
68,66,NaN,2020-03-10,23-192,DAL,@,SAS,L (-10),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
69,67,NaN,2020-03-11,23-193,DAL,NaN,DEN,W (+16),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive

In [19]:
stats_18_20_stats['Date'] = stats_18_20_stats['Date'].astype(str)
stats_18_20_stats = stats_18_20_stats[stats_18_20_stats['Date'] != 'Date']

In [20]:
stats_18_20_stats

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,2018-10-17,22-047,DAL,@,PHO,L (-21),0,19:07,...,1,1,1,0,0,0,1,3,1.9,-3
1,2,2,2018-10-20,22-050,DAL,NaN,MIN,W (+4),0,20:03,...,0,0,1,1,0,1,0,7,4.0,+2
2,3,3,2018-10-22,22-052,DAL,NaN,CHI,W (+6),0,14:33,...,1,1,2,1,0,0,0,6,4.6,+4
3,4,4,2018-10-24,22-054,DAL,@,ATL,L (-7),0,18:33,...,5,5,1,0,0,1,2,6,1.3,+5
4,5,5,2018-10-26,22-056,DAL,@,TOR,L (-9),1,29:41,...,3,3,4,1,0,2,2,8,3.4,-3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,63,NaN,2020-03-04,23-186,DAL,NaN,NOP,W (+4),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
66,64,NaN,2020-03-06,23-188,DAL,NaN,MEM,W (+25),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
67,65,NaN,2020-03-08,23-190,DAL,NaN,IND,L (-3),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
68,66,NaN,2020-03-10,23-192,DAL,@,SAS,L (-10),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
69,67,NaN,2020-03-11,23-193,DAL,NaN,DEN,W (+16),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive

In [21]:
stats_18_20_stats.columns

Index(['Rk', 'G', 'Date', 'Age', 'Tm', 'Unnamed: 5', 'Opp', 'Unnamed: 7', 'GS',
       'MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'GmSc', '+/-'],
      dtype='object')

### Combine 2020-21 and 2021-22 season stats

In [22]:
joined_stats = pd.concat([season_20_21_df, season_21_22_df])
joined_stats

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,2020-12-23,24-114,DAL,@,PHO,L (-4),0,18:11,...,2,2,4,0,0,3,2,12,8.0,+3
1,2,2,2020-12-25,24-116,DAL,@,LAL,L (-23),0,13:52,...,2,2,1,0,0,3,2,4,-1.2,-9
2,3,3,2020-12-27,24-118,DAL,@,LAC,W (+51),0,13:19,...,2,2,3,0,0,0,0,11,11.1,+20
3,4,4,2020-12-30,24-121,DAL,NaN,CHO,L (-19),0,20:16,...,4,4,4,1,0,1,0,16,12.1,+4
4,5,5,2021-01-01,24-123,DAL,NaN,MIA,W (+10),0,12:11,...,3,3,2,2,0,1,1,2,1.8,-2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,79,76,2022-04-03,25-215,DAL,@,MIL,W (+6),1,36:14,...,3,3,1,1,0,1,1,15,9.8,+6
82,80,77,2022-04-06,25-218,DAL,@,DET,W (+18),1,34:37,...,5,6,3,1,0,0,3,24,20.8,+22
83,Rk,G,Date,Age,Tm,NaN,Opp,NaN,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
84,81,78,2022-04-08,25-220,DAL,NaN,POR,W (+50),1,22:19,...,2,3,2,0,0,0,1,9,7.9,+18
85,82,79,2022-04-10,25-222,DAL,NaN,SAS,W (+10),1,24:41,...,6,6,5,0,0,1,0,18,15.6,+12

### Combine the 22-23 and 23-24 season stats

In [23]:

combined_stats_df = pd.concat([season_22_23_df, season_23_24_df])
combined_stats_df

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,2022-10-19,26-049,NYK,@,MEM,L (-3),1,36:05,...,4,6,9,0,0,0,3,15,12.9,+3
1,2,2,2022-10-21,26-051,NYK,NaN,DET,W (+24),1,28:22,...,2,2,6,1,0,0,2,17,15.9,+3
2,3,3,2022-10-24,26-054,NYK,NaN,ORL,W (+13),1,33:02,...,3,3,6,2,0,3,5,21,15.1,+17
3,4,4,2022-10-26,26-056,NYK,NaN,CHO,W (+3),1,40:35,...,7,7,13,1,1,3,2,27,29.6,+7
4,5,5,2022-10-28,26-058,NYK,@,MIL,L (-11),1,33:08,...,3,3,2,1,0,3,3,13,5.1,-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,79,74,2024-04-09,27-222,NYK,@,CHI,W (+11),1,42:26,...,3,3,8,1,0,1,0,45,39.9,+9
82,80,75,2024-04-11,27-224,NYK,@,BOS,W (+9),1,30:02,...,2,2,4,0,0,2,2,39,28.7,+28
83,Rk,G,Date,Age,Tm,NaN,Opp,NaN,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
84,81,76,2024-04-12,27-225,NYK,NaN,BRK,W (+4),1,36:32,...,1,1,11,1,0,0,2,30,24.7,+7
85,82,77,2024-04-14,27-227,NYK,NaN,CHI,W (+1),1,41:11,...,6,8,7,0,0,4,1,40,27.9,+1

Combine all seasons of game data

In [24]:
combined_stats_df = pd.concat([combined_stats_df, joined_stats])
combined_stats_df

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,2022-10-19,26-049,NYK,@,MEM,L (-3),1,36:05,...,4,6,9,0,0,0,3,15,12.9,+3
1,2,2,2022-10-21,26-051,NYK,NaN,DET,W (+24),1,28:22,...,2,2,6,1,0,0,2,17,15.9,+3
2,3,3,2022-10-24,26-054,NYK,NaN,ORL,W (+13),1,33:02,...,3,3,6,2,0,3,5,21,15.1,+17
3,4,4,2022-10-26,26-056,NYK,NaN,CHO,W (+3),1,40:35,...,7,7,13,1,1,3,2,27,29.6,+7
4,5,5,2022-10-28,26-058,NYK,@,MIL,L (-11),1,33:08,...,3,3,2,1,0,3,3,13,5.1,-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,79,76,2022-04-03,25-215,DAL,@,MIL,W (+6),1,36:14,...,3,3,1,1,0,1,1,15,9.8,+6
82,80,77,2022-04-06,25-218,DAL,@,DET,W (+18),1,34:37,...,5,6,3,1,0,0,3,24,20.8,+22
83,Rk,G,Date,Age,Tm,NaN,Opp,NaN,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
84,81,78,2022-04-08,25-220,DAL,NaN,POR,W (+50),1,22:19,...,2,3,2,0,0,0,1,9,7.9,+18
85,82,79,2022-04-10,25-222,DAL,NaN,SAS,W (+10),1,24:41,...,6,6,5,0,0,1,0,18,15.6,+12

In [25]:
combined_stats_df = pd.concat([combined_stats_df, stats_18_20_stats])
combined_stats_df

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,2022-10-19,26-049,NYK,@,MEM,L (-3),1,36:05,...,4,6,9,0,0,0,3,15,12.9,+3
1,2,2,2022-10-21,26-051,NYK,NaN,DET,W (+24),1,28:22,...,2,2,6,1,0,0,2,17,15.9,+3
2,3,3,2022-10-24,26-054,NYK,NaN,ORL,W (+13),1,33:02,...,3,3,6,2,0,3,5,21,15.1,+17
3,4,4,2022-10-26,26-056,NYK,NaN,CHO,W (+3),1,40:35,...,7,7,13,1,1,3,2,27,29.6,+7
4,5,5,2022-10-28,26-058,NYK,@,MIL,L (-11),1,33:08,...,3,3,2,1,0,3,3,13,5.1,-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,63,NaN,2020-03-04,23-186,DAL,NaN,NOP,W (+4),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
66,64,NaN,2020-03-06,23-188,DAL,NaN,MEM,W (+25),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
67,65,NaN,2020-03-08,23-190,DAL,NaN,IND,L (-3),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
68,66,NaN,2020-03-10,23-192,DAL,@,SAS,L (-10),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
69,67,NaN,2020-03-11,23-193,DAL,NaN,DEN,W (+16),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive

### Combined_stats_df has 6 seasons worth of game stats

In [26]:
combined_stats_df.reset_index(drop=True, inplace=True)
combined_stats_df.head(20)

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,2022-10-19,26-049,NYK,@,MEM,L (-3),1,36:05,...,4,6,9,0,0,0,3,15,12.9,+3
1,2,2,2022-10-21,26-051,NYK,NaN,DET,W (+24),1,28:22,...,2,2,6,1,0,0,2,17,15.9,+3
2,3,3,2022-10-24,26-054,NYK,NaN,ORL,W (+13),1,33:02,...,3,3,6,2,0,3,5,21,15.1,+17
3,4,4,2022-10-26,26-056,NYK,NaN,CHO,W (+3),1,40:35,...,7,7,13,1,1,3,2,27,29.6,+7
4,5,5,2022-10-28,26-058,NYK,@,MIL,L (-11),1,33:08,...,3,3,2,1,0,3,3,13,5.1,-19
5,6,6,2022-10-30,26-060,NYK,@,CLE,L (-13),1,33:57,...,4,4,7,3,0,1,2,16,12.8,+2
6,7,7,2022-11-02,26-063,NYK,NaN,ATL,L (-13),1,31:00,...,1,1,5,0,1,3,2,20,13.0,-4
7,8,8,2022-11-04,26-065,NYK,@,PHI,W (+2),1,35:49,...,5,6,7,0,0,1,3,23,19.8,+11
8,9,9,2022-11-05,26-066,NYK,NaN,BOS,L (-15),1,32:41,...,3,3,10,0,0,0,1,22,21.6,-3
9,10,10,2022-11-07,26-068,NYK,@,MIN,W (+13),1,33:35,...,4,5,8,0,0,3,3,23,20.1,+5
10,11,11,2022-11-09,26-070,NYK,@,BRK,L (-27),1,30:58,...,3,4,2,0,0,3,0,14,5.8,-22
11,12,12,2022-11-11,26-072,NYK,NaN,DET,W (+9),1,32:41,...,1,1,7,4,0,0,3,26,26.0,+8
12,13,13,2022-11-13,26-074,NYK,NaN,OKC,L (-10),1,23:58,...,1,1,7,3,0,1,2,17,19.1,-20
13,14,14,2022-11-15,26-076,NYK,@,UTA,W (+7),1,34:24,...,2,3,8,3,0,4,5,25,18.9,+9
14,15,15,2022-11-16,26-077,NYK,@,DEN,W (+3),1,31:07,...,5,5,7,0,0,1,2,21,19.3,+1
15,16,16,2022-11-18,26-079,NYK,@,GSW,L (-10),1,31:41,...,5,5,4,2,0,2,1,13,8.6,-5
16,17,17,2022-11-20,26-081,NYK,@,PHO,L (-21),1,29:17,...,2,3,3,0,1,1,1,27,19.0,-22
17,18,18,2022-11-21,26-082,NYK,@,OKC,W (+10),1,34:15,...,0,0,9,1,0,2,1,34,30.1,+5
18,19,19,2022-11-25,26-086,NYK,NaN,POR,L (-3),1,41:18,...,4,5,4,0,0,1,5,32,22.3,-6
19,20,20,2022-11-27,26-088,NYK,NaN,MEM,L (-4),1,35:35,...,4,5,9,1,0,2,5,30,24.0,-1

## Cleaning and Preprocessing Data

In [27]:
# Renaming columns
combined_stats_df = combined_stats_df.rename(columns={'Unnamed: 5':'Home/Away', 'Unnamed: 7':'W/L'})
combined_stats_df.head()

,Rk,G,Date,Age,Tm,Home/Away,Opp,W/L,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,2022-10-19,26-049,NYK,@,MEM,L (-3),1,36:05,...,4,6,9,0,0,0,3,15,12.9,+3
1,2,2,2022-10-21,26-051,NYK,NaN,DET,W (+24),1,28:22,...,2,2,6,1,0,0,2,17,15.9,+3
2,3,3,2022-10-24,26-054,NYK,NaN,ORL,W (+13),1,33:02,...,3,3,6,2,0,3,5,21,15.1,+17
3,4,4,2022-10-26,26-056,NYK,NaN,CHO,W (+3),1,40:35,...,7,7,13,1,1,3,2,27,29.6,+7
4,5,5,2022-10-28,26-058,NYK,@,MIL,L (-11),1,33:08,...,3,3,2,1,0,3,3,13,5.1,-19

In [28]:
# Change '@' to 'Away' and Naan to Home
combined_stats_df['Home/Away'] = combined_stats_df['Home/Away'].replace('@', 'Away')
combined_stats_df['Home/Away'] = combined_stats_df['Home/Away'].replace(np.nan, 'Home')
combined_stats_df.head()

,Rk,G,Date,Age,Tm,Home/Away,Opp,W/L,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,2022-10-19,26-049,NYK,Away,MEM,L (-3),1,36:05,...,4,6,9,0,0,0,3,15,12.9,+3
1,2,2,2022-10-21,26-051,NYK,Home,DET,W (+24),1,28:22,...,2,2,6,1,0,0,2,17,15.9,+3
2,3,3,2022-10-24,26-054,NYK,Home,ORL,W (+13),1,33:02,...,3,3,6,2,0,3,5,21,15.1,+17
3,4,4,2022-10-26,26-056,NYK,Home,CHO,W (+3),1,40:35,...,7,7,13,1,1,3,2,27,29.6,+7
4,5,5,2022-10-28,26-058,NYK,Away,MIL,L (-11),1,33:08,...,3,3,2,1,0,3,3,13,5.1,-19

In [29]:
combined_stats_df = combined_stats_df.drop(columns=['Age', 'Rk', 'GS'])
combined_stats_df.head()

,G,Date,Tm,Home/Away,Opp,W/L,MP,FG,FGA,FG%,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,2022-10-19,NYK,Away,MEM,L (-3),36:05,7,18,.389,...,4,6,9,0,0,0,3,15,12.9,+3
1,2,2022-10-21,NYK,Home,DET,W (+24),28:22,6,11,.545,...,2,2,6,1,0,0,2,17,15.9,+3
2,3,2022-10-24,NYK,Home,ORL,W (+13),33:02,8,16,.500,...,3,3,6,2,0,3,5,21,15.1,+17
3,4,2022-10-26,NYK,Home,CHO,W (+3),40:35,10,15,.667,...,7,7,13,1,1,3,2,27,29.6,+7
4,5,2022-10-28,NYK,Away,MIL,L (-11),33:08,3,10,.300,...,3,3,2,1,0,3,3,13,5.1,-19

In [30]:
combined_stats_df.drop(columns=['G'], inplace=True)

In [31]:
combined_stats_df.columns

Index(['Date', 'Tm', 'Home/Away', 'Opp', 'W/L', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL',
       'BLK', 'TOV', 'PF', 'PTS', 'GmSc', '+/-'],
      dtype='object')

In [32]:
combined_stats_df.rename(columns={'Tm': 'Team', 'W/L': 'W/L_G', 'MP' :'MP_G', 'FG': 'FG_G', 'FGA': 'FGA_G', '3P': '3P_G', 
                                  '3PA': '3PA_G', '3P%':'3P%_G', 'FT': 'FT_G', 'FTA': 'FTA_G', 'ORB': 'ORB_G', 'DRB': 'DRB_G', 'TRB': 'TRB_G', 'AST': 'AST_G', 'STL': 'STL_G', 
                                  'BLK': 'BLK_G', 'TOV': 'TOV_G', 'PF': 'PF_G', 'PTS': 'PTS_G', '+/-': 'Plus/Minus_G'}, inplace=True)
combined_stats_df.columns

Index(['Date', 'Team', 'Home/Away', 'Opp', 'W/L_G', 'MP_G', 'FG_G', 'FGA_G',
       'FG%', '3P_G', '3PA_G', '3P%_G', 'FT_G', 'FTA_G', 'FT%', 'ORB_G',
       'DRB_G', 'TRB_G', 'AST_G', 'STL_G', 'BLK_G', 'TOV_G', 'PF_G', 'PTS_G',
       'GmSc', 'Plus/Minus_G'],
      dtype='object')

Remove the headers that repeat inside the dataframe

In [33]:
pd.set_option('display.max_rows', 10)
combined_stats_df.reset_index(drop=True)

,Date,Team,Home/Away,Opp,W/L_G,MP_G,FG_G,FGA_G,FG%,3P_G,...,DRB_G,TRB_G,AST_G,STL_G,BLK_G,TOV_G,PF_G,PTS_G,GmSc,Plus/Minus_G
0,2022-10-19,NYK,Away,MEM,L (-3),36:05,7,18,.389,1,...,4,6,9,0,0,0,3,15,12.9,+3
1,2022-10-21,NYK,Home,DET,W (+24),28:22,6,11,.545,2,...,2,2,6,1,0,0,2,17,15.9,+3
2,2022-10-24,NYK,Home,ORL,W (+13),33:02,8,16,.500,2,...,3,3,6,2,0,3,5,21,15.1,+17
3,2022-10-26,NYK,Home,CHO,W (+3),40:35,10,15,.667,2,...,7,7,13,1,1,3,2,27,29.6,+7
4,2022-10-28,NYK,Away,MIL,L (-11),33:08,3,10,.300,1,...,3,3,2,1,0,3,3,13,5.1,-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
477,2020-03-04,DAL,Home,NOP,W (+4),Inactive,Inactive,Inactive,Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
478,2020-03-06,DAL,Home,MEM,W (+25),Inactive,Inactive,Inactive,Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
479,2020-03-08,DAL,Home,IND,L (-3),Inactive,Inactive,Inactive,Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
480,2020-03-10,DAL,Away,SAS,L (-10),Inactive,Inactive,Inactive,Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
481,2020-03-11,DAL,Home,DEN,W (+16),Inactive,Inactive,Inactive,Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive

In [34]:
combined_stats_df['Date'] = combined_stats_df['Date'].astype(str)

In [35]:
combined_stats_df

,Date,Team,Home/Away,Opp,W/L_G,MP_G,FG_G,FGA_G,FG%,3P_G,...,DRB_G,TRB_G,AST_G,STL_G,BLK_G,TOV_G,PF_G,PTS_G,GmSc,Plus/Minus_G
0,2022-10-19,NYK,Away,MEM,L (-3),36:05,7,18,.389,1,...,4,6,9,0,0,0,3,15,12.9,+3
1,2022-10-21,NYK,Home,DET,W (+24),28:22,6,11,.545,2,...,2,2,6,1,0,0,2,17,15.9,+3
2,2022-10-24,NYK,Home,ORL,W (+13),33:02,8,16,.500,2,...,3,3,6,2,0,3,5,21,15.1,+17
3,2022-10-26,NYK,Home,CHO,W (+3),40:35,10,15,.667,2,...,7,7,13,1,1,3,2,27,29.6,+7
4,2022-10-28,NYK,Away,MIL,L (-11),33:08,3,10,.300,1,...,3,3,2,1,0,3,3,13,5.1,-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
477,2020-03-04,DAL,Home,NOP,W (+4),Inactive,Inactive,Inactive,Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
478,2020-03-06,DAL,Home,MEM,W (+25),Inactive,Inactive,Inactive,Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
479,2020-03-08,DAL,Home,IND,L (-3),Inactive,Inactive,Inactive,Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
480,2020-03-10,DAL,Away,SAS,L (-10),Inactive,Inactive,Inactive,Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
481,2020-03-11,DAL,Home,DEN,W (+16),Inactive,Inactive,Inactive,Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive

In [36]:
combined_stats_df[combined_stats_df['Date'] == 'Date']
# There are 15 rows with the headers in them

,Date,Team,Home/Away,Opp,W/L_G,MP_G,FG_G,FGA_G,FG%,3P_G,...,DRB_G,TRB_G,AST_G,STL_G,BLK_G,TOV_G,PF_G,PTS_G,GmSc,Plus/Minus_G
20,Date,Tm,Home,Opp,NaN,MP,FG,FGA,FG%,3P,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
41,Date,Tm,Home,Opp,NaN,MP,FG,FGA,FG%,3P,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
62,Date,Tm,Home,Opp,NaN,MP,FG,FGA,FG%,3P,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
83,Date,Tm,Home,Opp,NaN,MP,FG,FGA,FG%,3P,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
106,Date,Tm,Home,Opp,NaN,MP,FG,FGA,FG%,3P,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,Date,Tm,Home,Opp,NaN,MP,FG,FGA,FG%,3P,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
267,Date,Tm,Home,Opp,NaN,MP,FG,FGA,FG%,3P,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
288,Date,Tm,Home,Opp,NaN,MP,FG,FGA,FG%,3P,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
309,Date,Tm,Home,Opp,NaN,MP,FG,FGA,FG%,3P,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
330,Date,Tm,Home,Opp,NaN,MP,FG,FGA,FG%,3P,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-

In [37]:
# Drop the rows with the repeated headers
combined_stats_df = combined_stats_df[combined_stats_df['Date'] != 'Date']
combined_stats_df.reset_index(drop=True)
combined_stats_df

,Date,Team,Home/Away,Opp,W/L_G,MP_G,FG_G,FGA_G,FG%,3P_G,...,DRB_G,TRB_G,AST_G,STL_G,BLK_G,TOV_G,PF_G,PTS_G,GmSc,Plus/Minus_G
0,2022-10-19,NYK,Away,MEM,L (-3),36:05,7,18,.389,1,...,4,6,9,0,0,0,3,15,12.9,+3
1,2022-10-21,NYK,Home,DET,W (+24),28:22,6,11,.545,2,...,2,2,6,1,0,0,2,17,15.9,+3
2,2022-10-24,NYK,Home,ORL,W (+13),33:02,8,16,.500,2,...,3,3,6,2,0,3,5,21,15.1,+17
3,2022-10-26,NYK,Home,CHO,W (+3),40:35,10,15,.667,2,...,7,7,13,1,1,3,2,27,29.6,+7
4,2022-10-28,NYK,Away,MIL,L (-11),33:08,3,10,.300,1,...,3,3,2,1,0,3,3,13,5.1,-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
477,2020-03-04,DAL,Home,NOP,W (+4),Inactive,Inactive,Inactive,Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
478,2020-03-06,DAL,Home,MEM,W (+25),Inactive,Inactive,Inactive,Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
479,2020-03-08,DAL,Home,IND,L (-3),Inactive,Inactive,Inactive,Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
480,2020-03-10,DAL,Away,SAS,L (-10),Inactive,Inactive,Inactive,Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
481,2020-03-11,DAL,Home,DEN,W (+16),Inactive,Inactive,Inactive,Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive

In [38]:
combined_stats_df['Date']= pd.to_datetime(combined_stats_df['Date'])
combined_stats_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 467 entries, 0 to 481
Data columns (total 26 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          467 non-null    datetime64[ns]
 1   Team          467 non-null    object
 2   Home/Away     467 non-null    object
 3   Opp           467 non-null    object
 4   W/L_G         467 non-null    object
 5   MP_G          467 non-null    object
 6   FG_G          467 non-null    object
 7   FGA_G         467 non-null    object
 8   FG%           462 non-null    object
 9   3P_G          467 non-null    object
 10  3PA_G         467 non-null    object
 11  3P%_G         433 non-null    object
 12  FT_G          467 non-null    object
 13  FTA_G         467 non-null    object
 14  FT%           362 non-null    object
 15  ORB_G         467 non-null    object
 16  DRB_G         467 non-null    object
 17  TRB_G         467 non-null    object
 18  AST_G         467 non-null    object
 19  STL_G         467 non-null    object
 20  BLK_G         467 non-null    object
 21  TOV_G         467 non-null    object
 22  PF_G          467 non-null    object
 23  PTS_G         467 non-null    object
 24  GmSc          467 non-null    object
 25  Plus/Minus_G  467 non-null    object
dtypes: datetime64[ns](1), object(25)
memory usage: 98.5+ KB

/var/folders/rj/3yvmqxnj3d17zpgh8wpywxvr0000gn/T/ipykernel_4954/2654197973.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_stats_df['Date']= pd.to_datetime(combined_stats_df['Date'])

Missing Values in 3P%, FT%

In [39]:
combined_stats_df.isna().value_counts()

Date   Team   Home/Away  Opp    W/L_G  MP_G   FG_G   FGA_G  FG%    3P_G   3PA_G  3P%_G  FT_G   FTA_G  FT%    ORB_G  DRB_G  TRB_G  AST_G  STL_G  BLK_G  TOV_G  PF_G   PTS_G  GmSc   Plus/Minus_G
False  False  False      False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False           345
                                                                                                      True   False  False  False  False  False  False  False  False  False  False  False            88
                                                                                 True   False  False  False  False  False  False  False  False  False  False  False  False  False  False            17
                                                                                                      True   False  False  False  False  False  False  False  False  False  False  False            12
                                                            True   False  False  True   False  False  True   False  False  False  False  False  False  False  False  False  False  False             5
Name: count, dtype: int64

In [40]:
# Filling Nans with 0 since there was no data for these values
combined_stats_df['3P%_G'].fillna(0, inplace=True)
combined_stats_df['FT%'].fillna(0, inplace=True)

combined_stats_df.isna().value_counts()

/var/folders/rj/3yvmqxnj3d17zpgh8wpywxvr0000gn/T/ipykernel_4954/1951895365.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  combined_stats_df['3P%_G'].fillna(0, inplace=True)
/var/folders/rj/3yvmqxnj3d17zpgh8wpywxvr0000gn/T/ipykernel_4954/1951895365.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_stats_df['3P%_G'].fillna(0, inplace=True)
/var/folders/rj/3yvmqxnj3d17zpgh8wpywxvr0000gn/T/ipykernel_4954/1951895365.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  combined_stats_df['FT%'].fillna(0, inplace=True)
/var/folders/rj/3yvmqxnj3d17zpgh8wpywxvr0000gn/T/ipykernel_4954/1951895365.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_stats_df['FT%'].fillna(0, inplace=True)

Date   Team   Home/Away  Opp    W/L_G  MP_G   FG_G   FGA_G  FG%    3P_G   3PA_G  3P%_G  FT_G   FTA_G  FT%    ORB_G  DRB_G  TRB_G  AST_G  STL_G  BLK_G  TOV_G  PF_G   PTS_G  GmSc   Plus/Minus_G
False  False  False      False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False           462
                                                            True   False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False             5
Name: count, dtype: int64

In [41]:
combined_stats_df.rename(columns = {'FT%': 'FT%_G'}, inplace=True)
combined_stats_df.rename(columns= {'FG%': 'FG%_G'}, inplace=True)

/var/folders/rj/3yvmqxnj3d17zpgh8wpywxvr0000gn/T/ipykernel_4954/430986113.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_stats_df.rename(columns = {'FT%': 'FT%_G'}, inplace=True)
/var/folders/rj/3yvmqxnj3d17zpgh8wpywxvr0000gn/T/ipykernel_4954/430986113.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_stats_df.rename(columns= {'FG%': 'FG%_G'}, inplace=True)

All missing values have been accounted for, removed, or filled.

# Converting data to proper types

In [42]:
# Encode game status 
status_mapping = {"Did Not Play": 99, "Did Not Dress": 99, "Inactive": 98}

# Apply mapping to non-numeric values
combined_stats_df.replace(status_mapping, inplace=True)

/var/folders/rj/3yvmqxnj3d17zpgh8wpywxvr0000gn/T/ipykernel_4954/879281504.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_stats_df.replace(status_mapping, inplace=True)

In [43]:
import numpy as np

#Clean up W/L column
combined_stats_df['W/L_G'] = np.where(combined_stats_df['W/L_G'].str.startswith('W'),'W',
                                    np.where(combined_stats_df['W/L_G'].str.startswith('L'), 'L', combined_stats_df['W/L_G']))

combined_stats_df['W/L_G'].value_counts()

/var/folders/rj/3yvmqxnj3d17zpgh8wpywxvr0000gn/T/ipykernel_4954/1838589292.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_stats_df['W/L_G'] = np.where(combined_stats_df['W/L_G'].str.startswith('W'),'W',

W/L_G
W    264
L    203
Name: count, dtype: int64

In [44]:
combined_stats_df.reset_index(drop=True, inplace=True)
combined_stats_df

,Date,Team,Home/Away,Opp,W/L_G,MP_G,FG_G,FGA_G,FG%_G,3P_G,...,DRB_G,TRB_G,AST_G,STL_G,BLK_G,TOV_G,PF_G,PTS_G,GmSc,Plus/Minus_G
0,2022-10-19,NYK,Away,MEM,L,36:05,7,18,.389,1,...,4,6,9,0,0,0,3,15,12.9,+3
1,2022-10-21,NYK,Home,DET,W,28:22,6,11,.545,2,...,2,2,6,1,0,0,2,17,15.9,+3
2,2022-10-24,NYK,Home,ORL,W,33:02,8,16,.500,2,...,3,3,6,2,0,3,5,21,15.1,+17
3,2022-10-26,NYK,Home,CHO,W,40:35,10,15,.667,2,...,7,7,13,1,1,3,2,27,29.6,+7
4,2022-10-28,NYK,Away,MIL,L,33:08,3,10,.300,1,...,3,3,2,1,0,3,3,13,5.1,-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
462,2020-03-04,DAL,Home,NOP,W,98,98,98,98,98,...,98,98,98,98,98,98,98,98,98,98
463,2020-03-06,DAL,Home,MEM,W,98,98,98,98,98,...,98,98,98,98,98,98,98,98,98,98
464,2020-03-08,DAL,Home,IND,L,98,98,98,98,98,...,98,98,98,98,98,98,98,98,98,98
465,2020-03-10,DAL,Away,SAS,L,98,98,98,98,98,...,98,98,98,98,98,98,98,98,98,98
466,2020-03-11,DAL,Home,DEN,W,98,98,98,98,98,...,98,98,98,98,98,98,98,98,98,98

In [45]:
combined_stats_df['MP_G'] = combined_stats_df['MP_G'].astype(str)

/var/folders/rj/3yvmqxnj3d17zpgh8wpywxvr0000gn/T/ipykernel_4954/3732361216.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_stats_df['MP_G'] = combined_stats_df['MP_G'].astype(str)

In [46]:
combined_stats_df['MP_G'] = combined_stats_df['MP_G'].str.strip()
combined_stats_df['MP_G']

/var/folders/rj/3yvmqxnj3d17zpgh8wpywxvr0000gn/T/ipykernel_4954/2006001973.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_stats_df['MP_G'] = combined_stats_df['MP_G'].str.strip()

0      36:05
1      28:22
2      33:02
3      40:35
4      33:08
       ...
462       98
463       98
464       98
465       98
466       98
Name: MP_G, Length: 467, dtype: object

In [47]:
def convert_to_minutes(time_str):
    try:
        if ':' in str(time_str):
            minutes, seconds = str(time_str).split(':')
            return int(minutes)
        return time_str  # Keep original value if no colon
    except:
        return time_str  # Keep original value if conversion fails

combined_stats_df['MP_G'] = combined_stats_df['MP_G'].apply(convert_to_minutes)

/var/folders/rj/3yvmqxnj3d17zpgh8wpywxvr0000gn/T/ipykernel_4954/3052781068.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_stats_df['MP_G'] = combined_stats_df['MP_G'].apply(convert_to_minutes)

In [48]:
combined_stats_df

,Date,Team,Home/Away,Opp,W/L_G,MP_G,FG_G,FGA_G,FG%_G,3P_G,...,DRB_G,TRB_G,AST_G,STL_G,BLK_G,TOV_G,PF_G,PTS_G,GmSc,Plus/Minus_G
0,2022-10-19,NYK,Away,MEM,L,36,7,18,.389,1,...,4,6,9,0,0,0,3,15,12.9,+3
1,2022-10-21,NYK,Home,DET,W,28,6,11,.545,2,...,2,2,6,1,0,0,2,17,15.9,+3
2,2022-10-24,NYK,Home,ORL,W,33,8,16,.500,2,...,3,3,6,2,0,3,5,21,15.1,+17
3,2022-10-26,NYK,Home,CHO,W,40,10,15,.667,2,...,7,7,13,1,1,3,2,27,29.6,+7
4,2022-10-28,NYK,Away,MIL,L,33,3,10,.300,1,...,3,3,2,1,0,3,3,13,5.1,-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
462,2020-03-04,DAL,Home,NOP,W,98,98,98,98,98,...,98,98,98,98,98,98,98,98,98,98
463,2020-03-06,DAL,Home,MEM,W,98,98,98,98,98,...,98,98,98,98,98,98,98,98,98,98
464,2020-03-08,DAL,Home,IND,L,98,98,98,98,98,...,98,98,98,98,98,98,98,98,98,98
465,2020-03-10,DAL,Away,SAS,L,98,98,98,98,98,...,98,98,98,98,98,98,98,98,98,98
466,2020-03-11,DAL,Home,DEN,W,98,98,98,98,98,...,98,98,98,98,98,98,98,98,98,98

In [49]:
# Convert numeric columns to int/float
float_cols = ['FG%_G','3P%_G', 'FT%_G', 'GmSc']
combined_stats_df[float_cols] = combined_stats_df[float_cols].astype(float)
combined_stats_df.info()

/var/folders/rj/3yvmqxnj3d17zpgh8wpywxvr0000gn/T/ipykernel_4954/3659052948.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_stats_df[float_cols] = combined_stats_df[float_cols].astype(float)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 467 entries, 0 to 466
Data columns (total 26 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          467 non-null    datetime64[ns]
 1   Team          467 non-null    object
 2   Home/Away     467 non-null    object
 3   Opp           467 non-null    object
 4   W/L_G         467 non-null    object
 5   MP_G          467 non-null    object
 6   FG_G          467 non-null    object
 7   FGA_G         467 non-null    object
 8   FG%_G         462 non-null    float64
 9   3P_G          467 non-null    object
 10  3PA_G         467 non-null    object
 11  3P%_G         467 non-null    float64
 12  FT_G          467 non-null    object
 13  FTA_G         467 non-null    object
 14  FT%_G         467 non-null    float64
 15  ORB_G         467 non-null    object
 16  DRB_G         467 non-null    object
 17  TRB_G         467 non-null    object
 18  AST_G         467 non-null    object
 19  STL_G         467 non-null    object
 20  BLK_G         467 non-null    object
 21  TOV_G         467 non-null    object
 22  PF_G          467 non-null    object
 23  PTS_G         467 non-null    object
 24  GmSc          467 non-null    float64
 25  Plus/Minus_G  467 non-null    object
dtypes: datetime64[ns](1), float64(4), object(21)
memory usage: 95.0+ KB

In [50]:
#Turn the non float columns into integer type
int_colums = ['MP_G', 'FG_G', 'FGA_G', '3P_G', '3PA_G','FT_G', 'FTA_G', 'ORB_G', 'DRB_G', 'TRB_G', 'AST_G', 'STL_G', 'BLK_G', 'TOV_G', 'PF_G', 'Plus/Minus_G']
combined_stats_df[int_colums] = combined_stats_df[int_colums].astype(int)
combined_stats_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 467 entries, 0 to 466
Data columns (total 26 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          467 non-null    datetime64[ns]
 1   Team          467 non-null    object
 2   Home/Away     467 non-null    object
 3   Opp           467 non-null    object
 4   W/L_G         467 non-null    object
 5   MP_G          467 non-null    int64
 6   FG_G          467 non-null    int64
 7   FGA_G         467 non-null    int64
 8   FG%_G         462 non-null    float64
 9   3P_G          467 non-null    int64
 10  3PA_G         467 non-null    int64
 11  3P%_G         467 non-null    float64
 12  FT_G          467 non-null    int64
 13  FTA_G         467 non-null    int64
 14  FT%_G         467 non-null    float64
 15  ORB_G         467 non-null    int64
 16  DRB_G         467 non-null    int64
 17  TRB_G         467 non-null    int64
 18  AST_G         467 non-null    int64
 19  STL_G         467 non-null    int64
 20  BLK_G         467 non-null    int64
 21  TOV_G         467 non-null    int64
 22  PF_G          467 non-null    int64
 23  PTS_G         467 non-null    object
 24  GmSc          467 non-null    float64
 25  Plus/Minus_G  467 non-null    int64
dtypes: datetime64[ns](1), float64(4), int64(16), object(5)
memory usage: 95.0+ KB

/var/folders/rj/3yvmqxnj3d17zpgh8wpywxvr0000gn/T/ipykernel_4954/427836721.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_stats_df[int_colums] = combined_stats_df[int_colums].astype(int)

In [51]:
combined_stats_df.head()

,Date,Team,Home/Away,Opp,W/L_G,MP_G,FG_G,FGA_G,FG%_G,3P_G,...,DRB_G,TRB_G,AST_G,STL_G,BLK_G,TOV_G,PF_G,PTS_G,GmSc,Plus/Minus_G
0,2022-10-19,NYK,Away,MEM,L,36,7,18,0.389,1,...,4,6,9,0,0,0,3,15,12.9,3
1,2022-10-21,NYK,Home,DET,W,28,6,11,0.545,2,...,2,2,6,1,0,0,2,17,15.9,3
2,2022-10-24,NYK,Home,ORL,W,33,8,16,0.500,2,...,3,3,6,2,0,3,5,21,15.1,17
3,2022-10-26,NYK,Home,CHO,W,40,10,15,0.667,2,...,7,7,13,1,1,3,2,27,29.6,7
4,2022-10-28,NYK,Away,MIL,L,33,3,10,0.300,1,...,3,3,2,1,0,3,3,13,5.1,-19

In [52]:
combined_stats_df.isna().value_counts()

Date   Team   Home/Away  Opp    W/L_G  MP_G   FG_G   FGA_G  FG%_G  3P_G   3PA_G  3P%_G  FT_G   FTA_G  FT%_G  ORB_G  DRB_G  TRB_G  AST_G  STL_G  BLK_G  TOV_G  PF_G   PTS_G  GmSc   Plus/Minus_G
False  False  False      False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False           462
                                                            True   False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False             5
Name: count, dtype: int64

In [53]:
# Create a Season column for combined stats:

def get_season_from_date(date):
    # Convert date to datetime if it's not already
    date = pd.to_datetime(date)
    year = date.year
    month = date.month

    if 10 <= month <=12:
        season = f"{year}-{str(year + 1)[2:]}"
        return season
    elif 1<= month <=4:
        season2 = f"{year - 1}-{str(year)[2:]}"
        return season2
    else:
        return None

combined_stats_df['Season'] = combined_stats_df['Date'].apply(get_season_from_date)

combined_stats_df

/var/folders/rj/3yvmqxnj3d17zpgh8wpywxvr0000gn/T/ipykernel_4954/3708689722.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_stats_df['Season'] = combined_stats_df['Date'].apply(get_season_from_date)

,Date,Team,Home/Away,Opp,W/L_G,MP_G,FG_G,FGA_G,FG%_G,3P_G,...,TRB_G,AST_G,STL_G,BLK_G,TOV_G,PF_G,PTS_G,GmSc,Plus/Minus_G,Season
0,2022-10-19,NYK,Away,MEM,L,36,7,18,0.389,1,...,6,9,0,0,0,3,15,12.9,3,2022-23
1,2022-10-21,NYK,Home,DET,W,28,6,11,0.545,2,...,2,6,1,0,0,2,17,15.9,3,2022-23
2,2022-10-24,NYK,Home,ORL,W,33,8,16,0.500,2,...,3,6,2,0,3,5,21,15.1,17,2022-23
3,2022-10-26,NYK,Home,CHO,W,40,10,15,0.667,2,...,7,13,1,1,3,2,27,29.6,7,2022-23
4,2022-10-28,NYK,Away,MIL,L,33,3,10,0.300,1,...,3,2,1,0,3,3,13,5.1,-19,2022-23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
462,2020-03-04,DAL,Home,NOP,W,98,98,98,98.000,98,...,98,98,98,98,98,98,98,98.0,98,2019-20
463,2020-03-06,DAL,Home,MEM,W,98,98,98,98.000,98,...,98,98,98,98,98,98,98,98.0,98,2019-20
464,2020-03-08,DAL,Home,IND,L,98,98,98,98.000,98,...,98,98,98,98,98,98,98,98.0,98,2019-20
465,2020-03-10,DAL,Away,SAS,L,98,98,98,98.000,98,...,98,98,98,98,98,98,98,98.0,98,2019-20
466,2020-03-11,DAL,Home,DEN,W,98,98,98,98.000,98,...,98,98,98,98,98,98,98,98.0,98,2019-20

In [54]:
combined_stats_df.isna().value_counts()

Date   Team   Home/Away  Opp    W/L_G  MP_G   FG_G   FGA_G  FG%_G  3P_G   3PA_G  3P%_G  FT_G   FTA_G  FT%_G  ORB_G  DRB_G  TRB_G  AST_G  STL_G  BLK_G  TOV_G  PF_G   PTS_G  GmSc   Plus/Minus_G  Season
False  False  False      False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False         False     452
                                                                                                                                                                                                 True       10
                                                            True   False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False         False       5
Name: count, dtype: int64

In [55]:
combined_stats_df['Date'].min

<bound method Series.min of 0     2022-10-19
1     2022-10-21
2     2022-10-24
3     2022-10-26
4     2022-10-28
         ...
462   2020-03-04
463   2020-03-06
464   2020-03-08
465   2020-03-10
466   2020-03-11
Name: Date, Length: 467, dtype: datetime64[ns]>

In [56]:
seasonal_data

,Season,Age,Team,Pos,G_Sn,GS_Sn,MP_Sn,FG_Sn,FGA_Sn,FG%_Sn,...,ORB_Sn,DRB_Sn,TRB_Sn,AST_Sn,STL_Sn,BLK_Sn,TOV_Sn,PF_Sn,PTS_Sn,MVP
0,2018-19,22,DAL,PG,73.0,38.0,21.8,3.6,7.7,0.467,...,0.3,2.0,2.3,3.2,0.5,0.1,1.2,1.7,9.3,0
1,2019-20,23,DAL,PG,57.0,16.0,17.9,3.2,6.8,0.466,...,0.4,2.0,2.4,3.3,0.4,0.1,1.2,1.3,8.2,0
2,2020-21,24,DAL,PG,68.0,12.0,25.0,4.8,9.2,0.523,...,0.4,3.0,3.4,3.5,0.5,0.0,1.2,1.6,12.6,0
3,2021-22,25,DAL,SG,79.0,61.0,31.9,6.4,12.8,0.502,...,0.5,3.4,3.9,4.8,0.8,0.0,1.6,1.9,16.3,0
4,2022-23,26,NYK,PG,68.0,68.0,35.0,8.6,17.6,0.491,...,0.6,3.0,3.5,6.2,0.9,0.2,2.1,2.2,24.0,1
5,2023-24,27,NYK,PG,77.0,77.0,35.4,10.3,21.4,0.479,...,0.6,3.1,3.6,6.7,0.9,0.2,2.4,1.9,28.7,1

In [57]:
seasonal_data.rename(columns={'MP_Sn': 'Avg_MP_Sn'}, inplace=True)
seasonal_data

,Season,Age,Team,Pos,G_Sn,GS_Sn,Avg_MP_Sn,FG_Sn,FGA_Sn,FG%_Sn,...,ORB_Sn,DRB_Sn,TRB_Sn,AST_Sn,STL_Sn,BLK_Sn,TOV_Sn,PF_Sn,PTS_Sn,MVP
0,2018-19,22,DAL,PG,73.0,38.0,21.8,3.6,7.7,0.467,...,0.3,2.0,2.3,3.2,0.5,0.1,1.2,1.7,9.3,0
1,2019-20,23,DAL,PG,57.0,16.0,17.9,3.2,6.8,0.466,...,0.4,2.0,2.4,3.3,0.4,0.1,1.2,1.3,8.2,0
2,2020-21,24,DAL,PG,68.0,12.0,25.0,4.8,9.2,0.523,...,0.4,3.0,3.4,3.5,0.5,0.0,1.2,1.6,12.6,0
3,2021-22,25,DAL,SG,79.0,61.0,31.9,6.4,12.8,0.502,...,0.5,3.4,3.9,4.8,0.8,0.0,1.6,1.9,16.3,0
4,2022-23,26,NYK,PG,68.0,68.0,35.0,8.6,17.6,0.491,...,0.6,3.0,3.5,6.2,0.9,0.2,2.1,2.2,24.0,1
5,2023-24,27,NYK,PG,77.0,77.0,35.4,10.3,21.4,0.479,...,0.6,3.1,3.6,6.7,0.9,0.2,2.4,1.9,28.7,1

In [58]:
adv_stats = pd.read_csv('./adv_stats.csv')
adv_stats.columns

Index(['Season', 'Team', 'Games_Sn', 'GS_Sn', 'MP', 'PER', 'TS%', '3PAr',
       'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%',
       'OWS', 'DWS', 'WS', 'WS/48', 'OBPM', 'DBPM', 'BPM', 'ValORP', 'Awards'],
      dtype='object')

In [59]:
adv_stats.drop(columns={'Awards'}, inplace=True)

In [60]:
adv_stats.rename(columns={'MP': 'Ttl_MP_Sn'}, inplace=True)
adv_stats

,Season,Team,Games_Sn,GS_Sn,Ttl_MP_Sn,PER,TS%,3PAr,FTr,ORB%,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,ValORP
0,2018-19,DAL,73.0,38.0,1591.0,12.7,0.549,0.320,0.212,1.7,...,12.5,19.1,1.5,1.0,2.6,0.077,-1.2,-0.5,-1.7,0.1
1,2019-20,DAL,57.0,16.0,1022.0,14.9,0.553,0.309,0.193,2.3,...,13.6,20.4,1.6,0.6,2.1,0.101,0.1,-1.0,-0.9,0.3
2,2020-21,DAL,68.0,12.0,1697.0,17.1,0.618,0.319,0.241,1.8,...,10.3,20.2,3.9,1.1,5.1,0.143,1.5,-0.6,0.9,1.2
3,2021-22,DAL,79.0,61.0,2524.0,17.1,0.583,0.250,0.211,1.9,...,10.1,21.9,4.9,2.7,7.5,0.143,0.9,0.0,0.9,1.9
4,2022-23,NYK,68.0,68.0,2379.0,21.2,0.597,0.269,0.328,1.8,...,9.4,27.2,6.9,1.8,8.7,0.175,4.4,-0.5,3.9,3.5
5,2023-24,NYK,77.0,77.0,2726.0,23.4,0.592,0.319,0.302,1.8,...,9.1,32.5,8.8,2.4,11.2,0.198,6.3,-0.4,5.8,5.4

## Join the adv_stats and seasonal_data

In [61]:
adv_seasonal_data = pd.merge(adv_stats, seasonal_data, on=['Season', 'Team'], how='outer')
adv_seasonal_data

,Season,Team,Games_Sn,GS_Sn_x,Ttl_MP_Sn,PER,TS%,3PAr,FTr,ORB%,...,ORB_Sn,DRB_Sn,TRB_Sn,AST_Sn,STL_Sn,BLK_Sn,TOV_Sn,PF_Sn,PTS_Sn,MVP
0,2018-19,DAL,73.0,38.0,1591.0,12.7,0.549,0.320,0.212,1.7,...,0.3,2.0,2.3,3.2,0.5,0.1,1.2,1.7,9.3,0
1,2019-20,DAL,57.0,16.0,1022.0,14.9,0.553,0.309,0.193,2.3,...,0.4,2.0,2.4,3.3,0.4,0.1,1.2,1.3,8.2,0
2,2020-21,DAL,68.0,12.0,1697.0,17.1,0.618,0.319,0.241,1.8,...,0.4,3.0,3.4,3.5,0.5,0.0,1.2,1.6,12.6,0
3,2021-22,DAL,79.0,61.0,2524.0,17.1,0.583,0.250,0.211,1.9,...,0.5,3.4,3.9,4.8,0.8,0.0,1.6,1.9,16.3,0
4,2022-23,NYK,68.0,68.0,2379.0,21.2,0.597,0.269,0.328,1.8,...,0.6,3.0,3.5,6.2,0.9,0.2,2.1,2.2,24.0,1
5,2023-24,NYK,77.0,77.0,2726.0,23.4,0.592,0.319,0.302,1.8,...,0.6,3.1,3.6,6.7,0.9,0.2,2.4,1.9,28.7,1

In [62]:
combined_stats_df.columns

Index(['Date', 'Team', 'Home/Away', 'Opp', 'W/L_G', 'MP_G', 'FG_G', 'FGA_G',
       'FG%_G', '3P_G', '3PA_G', '3P%_G', 'FT_G', 'FTA_G', 'FT%_G', 'ORB_G',
       'DRB_G', 'TRB_G', 'AST_G', 'STL_G', 'BLK_G', 'TOV_G', 'PF_G', 'PTS_G',
       'GmSc', 'Plus/Minus_G', 'Season'],
      dtype='object')

In [63]:
combined_stats_df.isna().value_counts()

Date   Team   Home/Away  Opp    W/L_G  MP_G   FG_G   FGA_G  FG%_G  3P_G   3PA_G  3P%_G  FT_G   FTA_G  FT%_G  ORB_G  DRB_G  TRB_G  AST_G  STL_G  BLK_G  TOV_G  PF_G   PTS_G  GmSc   Plus/Minus_G  Season
False  False  False      False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False         False     452
                                                                                                                                                                                                 True       10
                                                            True   False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False         False       5
Name: count, dtype: int64

In [64]:
combined_stats_df[combined_stats_df['FG%_G'].isna() == True]

,Date,Team,Home/Away,Opp,W/L_G,MP_G,FG_G,FGA_G,FG%_G,3P_G,...,TRB_G,AST_G,STL_G,BLK_G,TOV_G,PF_G,PTS_G,GmSc,Plus/Minus_G,Season
326,2018-11-02,DAL,Home,NYK,L,3,0,0,NaN,0,...,1,0,0,0,0,0,0,0.3,5,2018-19
327,2018-11-06,DAL,Home,WAS,W,1,0,0,NaN,0,...,0,0,0,0,0,0,0,0.0,0,2018-19
329,2018-11-10,DAL,Home,OKC,W,1,0,0,NaN,0,...,0,1,1,0,1,0,0,0.7,2,2018-19
355,2019-01-04,DAL,Away,BOS,L,2,0,0,NaN,0,...,0,1,0,0,0,0,0,0.7,-6,2018-19
364,2019-01-22,DAL,Home,LAC,W,3,0,0,NaN,0,...,0,0,0,0,0,0,0,0.0,-1,2018-19

In [65]:
# Fill missing values in FG%_G with 0
combined_stats_df['FG%_G'].fillna(0, inplace=True)

/var/folders/rj/3yvmqxnj3d17zpgh8wpywxvr0000gn/T/ipykernel_4954/1293260886.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  combined_stats_df['FG%_G'].fillna(0, inplace=True)
/var/folders/rj/3yvmqxnj3d17zpgh8wpywxvr0000gn/T/ipykernel_4954/1293260886.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_stats_df['FG%_G'].fillna(0, inplace=True)

In [66]:
#Misisng season values for the games in May
combined_stats_df[combined_stats_df['Season'].isna() == True]

,Date,Team,Home/Away,Opp,W/L_G,MP_G,FG_G,FGA_G,FG%_G,3P_G,...,TRB_G,AST_G,STL_G,BLK_G,TOV_G,PF_G,PTS_G,GmSc,Plus/Minus_G,Season
226,2021-05-01,DAL,Home,WAS,W,15,2,5,0.400,0,...,0,2,0,0,0,3,4,1.5,-9,None
227,2021-05-02,DAL,Home,SAC,L,25,8,12,0.667,1,...,2,3,1,0,1,1,17,14.5,-13,None
228,2021-05-04,DAL,Away,MIA,W,18,7,12,0.583,2,...,1,2,0,0,1,1,19,13.7,-8,None
229,2021-05-06,DAL,Home,BRK,W,25,6,10,0.600,1,...,2,2,1,0,1,4,15,10.8,-3,None
230,2021-05-07,DAL,Home,CLE,W,27,3,11,0.273,0,...,4,6,0,0,1,2,8,5.1,15,None
231,2021-05-09,DAL,Away,CLE,W,18,5,5,1.000,3,...,1,7,2,0,1,1,13,17.3,26,None
232,2021-05-11,DAL,Away,MEM,L,24,6,11,0.545,3,...,3,3,1,0,0,0,15,13.7,-13,None
233,2021-05-12,DAL,Home,NOP,W,18,1,4,0.250,0,...,3,6,0,0,0,3,5,5.7,13,None
234,2021-05-14,DAL,Home,TOR,W,24,8,11,0.727,3,...,5,4,0,1,2,0,19,17.5,4,None
235,2021-05-16,DAL,Away,MIN,L,26,6,12,0.500,2,...,0,3,1,0,2,2,15,9.3,0,None

In [67]:
# Drop Naan values from Season column
combined_stats_df = combined_stats_df.dropna(subset=['Season'])
combined_stats_df.isna().value_counts()

Date   Team   Home/Away  Opp    W/L_G  MP_G   FG_G   FGA_G  FG%_G  3P_G   3PA_G  3P%_G  FT_G   FTA_G  FT%_G  ORB_G  DRB_G  TRB_G  AST_G  STL_G  BLK_G  TOV_G  PF_G   PTS_G  GmSc   Plus/Minus_G  Season
False  False  False      False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False         False     457
Name: count, dtype: int64

## Join the advanced and seasonal data with the combined game stats

In [68]:
combined_stats_df = pd.merge(combined_stats_df, adv_seasonal_data, on=['Season', 'Team'], how='outer')
combined_stats_df

,Date,Team,Home/Away,Opp,W/L_G,MP_G,FG_G,FGA_G,FG%_G,3P_G,...,ORB_Sn,DRB_Sn,TRB_Sn,AST_Sn,STL_Sn,BLK_Sn,TOV_Sn,PF_Sn,PTS_Sn,MVP
0,2018-10-17,DAL,Away,PHO,L,19,1,3,0.333,1,...,0.3,2.0,2.3,3.2,0.5,0.1,1.2,1.7,9.3,0
1,2018-10-20,DAL,Home,MIN,W,20,3,7,0.429,1,...,0.3,2.0,2.3,3.2,0.5,0.1,1.2,1.7,9.3,0
2,2018-10-22,DAL,Home,CHI,W,14,2,7,0.286,2,...,0.3,2.0,2.3,3.2,0.5,0.1,1.2,1.7,9.3,0
3,2018-10-24,DAL,Away,ATL,L,18,3,9,0.333,0,...,0.3,2.0,2.3,3.2,0.5,0.1,1.2,1.7,9.3,0
4,2018-10-26,DAL,Away,TOR,L,29,3,11,0.273,2,...,0.3,2.0,2.3,3.2,0.5,0.1,1.2,1.7,9.3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,2024-04-07,NYK,Away,MIL,W,39,16,32,0.500,2,...,0.6,3.1,3.6,6.7,0.9,0.2,2.4,1.9,28.7,1
453,2024-04-09,NYK,Away,CHI,W,42,13,24,0.542,7,...,0.6,3.1,3.6,6.7,0.9,0.2,2.4,1.9,28.7,1
454,2024-04-11,NYK,Away,BOS,W,30,15,23,0.652,6,...,0.6,3.1,3.6,6.7,0.9,0.2,2.4,1.9,28.7,1
455,2024-04-12,NYK,Home,BRK,W,36,10,25,0.400,3,...,0.6,3.1,3.6,6.7,0.9,0.2,2.4,1.9,28.7,1
456,2024-04-14,NYK,Home,CHI,W,41,14,30,0.467,1,...,0.6,3.1,3.6,6.7,0.9,0.2,2.4,1.9,28.7,1

Done cleaning seasonal player stats and including advanced stats

In [69]:
combined_stats_df.columns

Index(['Date', 'Team', 'Home/Away', 'Opp', 'W/L_G', 'MP_G', 'FG_G', 'FGA_G',
       'FG%_G', '3P_G', '3PA_G', '3P%_G', 'FT_G', 'FTA_G', 'FT%_G', 'ORB_G',
       'DRB_G', 'TRB_G', 'AST_G', 'STL_G', 'BLK_G', 'TOV_G', 'PF_G', 'PTS_G',
       'GmSc', 'Plus/Minus_G', 'Season', 'Games_Sn', 'GS_Sn_x', 'Ttl_MP_Sn',
       'PER', 'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%',
       'BLK%', 'TOV%', 'USG%', 'OWS', 'DWS', 'WS', 'WS/48', 'OBPM', 'DBPM',
       'BPM', 'ValORP', 'Age', 'Pos', 'G_Sn', 'GS_Sn_y', 'Avg_MP_Sn', 'FG_Sn',
       'FGA_Sn', 'FG%_Sn', '3P_Sn', '3PA_Sn', '3P%_Sn', '2P_Sn', '2PA_Sn',
       '2P%_Sn', 'eFG%_Sn', 'FT_Sn', 'FTA_Sn', 'FT%_Sn', 'ORB_Sn', 'DRB_Sn',
       'TRB_Sn', 'AST_Sn', 'STL_Sn', 'BLK_Sn', 'TOV_Sn', 'PF_Sn', 'PTS_Sn',
       'MVP'],
      dtype='object')

In [70]:
combined_stats_df[['GS_Sn_x', 'GS_Sn_y']]

     GS_Sn_x  GS_Sn_y
0       38.0     38.0
1       38.0     38.0
2       38.0     38.0
3       38.0     38.0
4       38.0     38.0
..       ...      ...
452     77.0     77.0
453     77.0     77.0
454     77.0     77.0
455     77.0     77.0
456     77.0     77.0

[457 rows x 2 columns]

In [71]:
combined_stats_df.drop(columns=['GS_Sn_y'], inplace=True)
combined_stats_df.rename(columns={'GS_Sn_x': 'GS_Sn'}, inplace=True)
combined_stats_df.columns

Index(['Date', 'Team', 'Home/Away', 'Opp', 'W/L_G', 'MP_G', 'FG_G', 'FGA_G',
       'FG%_G', '3P_G', '3PA_G', '3P%_G', 'FT_G', 'FTA_G', 'FT%_G', 'ORB_G',
       'DRB_G', 'TRB_G', 'AST_G', 'STL_G', 'BLK_G', 'TOV_G', 'PF_G', 'PTS_G',
       'GmSc', 'Plus/Minus_G', 'Season', 'Games_Sn', 'GS_Sn', 'Ttl_MP_Sn',
       'PER', 'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%',
       'BLK%', 'TOV%', 'USG%', 'OWS', 'DWS', 'WS', 'WS/48', 'OBPM', 'DBPM',
       'BPM', 'ValORP', 'Age', 'Pos', 'G_Sn', 'Avg_MP_Sn', 'FG_Sn', 'FGA_Sn',
       'FG%_Sn', '3P_Sn', '3PA_Sn', '3P%_Sn', '2P_Sn', '2PA_Sn', '2P%_Sn',
       'eFG%_Sn', 'FT_Sn', 'FTA_Sn', 'FT%_Sn', 'ORB_Sn', 'DRB_Sn', 'TRB_Sn',
       'AST_Sn', 'STL_Sn', 'BLK_Sn', 'TOV_Sn', 'PF_Sn', 'PTS_Sn', 'MVP'],
      dtype='object')

In [73]:
#Dropping repeated columns
combined_stats_df.drop(columns=['G_Sn'], inplace=True)
combined_stats_df.columns

Index(['Date', 'Team', 'Home/Away', 'Opp', 'W/L_G', 'MP_G', 'FG_G', 'FGA_G',
       'FG%_G', '3P_G', '3PA_G', '3P%_G', 'FT_G', 'FTA_G', 'FT%_G', 'ORB_G',
       'DRB_G', 'TRB_G', 'AST_G', 'STL_G', 'BLK_G', 'TOV_G', 'PF_G', 'PTS_G',
       'GmSc', 'Plus/Minus_G', 'Season', 'Games_Sn', 'GS_Sn', 'Ttl_MP_Sn',
       'PER', 'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%',
       'BLK%', 'TOV%', 'USG%', 'OWS', 'DWS', 'WS', 'WS/48', 'OBPM', 'DBPM',
       'BPM', 'ValORP', 'Age', 'Pos', 'Avg_MP_Sn', 'FG_Sn', 'FGA_Sn', 'FG%_Sn',
       '3P_Sn', '3PA_Sn', '3P%_Sn', '2P_Sn', '2PA_Sn', '2P%_Sn', 'eFG%_Sn',
       'FT_Sn', 'FTA_Sn', 'FT%_Sn', 'ORB_Sn', 'DRB_Sn', 'TRB_Sn', 'AST_Sn',
       'STL_Sn', 'BLK_Sn', 'TOV_Sn', 'PF_Sn', 'PTS_Sn', 'MVP'],
      dtype='object')

### Features
- Game Date
- Team
- Home/Away
- Opponent
- Game Result (W/L)
- Minutes Played per Game
- Field Goals Made per Game**
- Field Goals Attempted per Game
- Field Goal Percentage per Game
- 3-Point Field Goals Made per Game**
- 3-Point Field Goals Attempted per Game
- 3-Point Field Goal Percentage per Game
- Free Throws Made per Game**
- Free Throws Attempted per Game
- Free Throw Percentage per Game
- Offensive Rebounds per Game
- Defensive Rebounds per Game
- Total Rebounds per Game
- Assists per Game
- Steals per Game
- Blocks per Game
- Turnovers per Game
- Personal Fouls per Game
- Total Points Scored per Game
- Game Score
- Plus/Minus per Game
- Season
- Games played per Season
- Games Started per Season
- Total Minutes Played Per Season
- Player Efficiency Rate
- True Shooting Percentage
- 3 Pointer Attempte Rate
- Free Throw Rate
- Offensive Rebound Percentage
- Defensive Rebound Percentage
- Total Rebound Percentage
- Assist Percentage
- Steal Percentage
- Block Percentage
- Turnover Percentage
- Usage Percentage
- Offensive Win Shares
- Defensive Win Shares
- Win Shares
- Win Shares Per 48 Minutes
- Offensive Box Plus/Minus
- Defensive Box Plus/Minus
- Box Plus/Minus Per 100 Possessions
- Value Over Replacement Player
- Age
- Position
- Average Minutes Played per Game in a Season
- Average Field Goals made in a Season
- Average Field Goals Attempted in a Season
- Average Field Goal Percentage in a Season
- Average 3 Pointers Made in a Season
- Average 3 Pointers Attempted in a Season
- Average 3 Pointers Percentage in a Season
- Average 2 Pointers Made in a Season
- Average 2 Pointers Attempted in a Season
- Average 2 Pointer Percentage in a Season
- Effective Field Goal Percentage in a Season
- Average Free Throws Scored in a Season
- Average Free Throws Attempted in a Season
- Average Free Throw Percentage in a Season
- Average Offensive Rebounds in a Season
- Average Defensive Rebounds in a Season
- Average Total Rebounds in a Season
- Average Assists in a Season
- Average Steals in a Season
- Average Blocks in a Season
- Average Turnovers in a Season
- Average Personal Fouls in a Season
- Average Points Scored in a Season
- Selected MVP [Target]

In [74]:
combined_stats_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 457 entries, 0 to 456
Data columns (total 76 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          457 non-null    datetime64[ns]
 1   Team          457 non-null    object
 2   Home/Away     457 non-null    object
 3   Opp           457 non-null    object
 4   W/L_G         457 non-null    object
 5   MP_G          457 non-null    int64
 6   FG_G          457 non-null    int64
 7   FGA_G         457 non-null    int64
 8   FG%_G         457 non-null    float64
 9   3P_G          457 non-null    int64
 10  3PA_G         457 non-null    int64
 11  3P%_G         457 non-null    float64
 12  FT_G          457 non-null    int64
 13  FTA_G         457 non-null    int64
 14  FT%_G         457 non-null    float64
 15  ORB_G         457 non-null    int64
 16  DRB_G         457 non-null    int64
 17  TRB_G         457 non-null    int64
 18  AST_G         457 non-null    int64
 19  STL_G         457 non-null    int64
 20  BLK_G         457 non-null    int64
 21  TOV_G         457 non-null    int64
 22  PF_G          457 non-null    int64
 23  PTS_G         457 non-null    object
 24  GmSc          457 non-null    float64
 25  Plus/Minus_G  457 non-null    int64
 26  Season        457 non-null    object
 27  Games_Sn      457 non-null    float64
 28  GS_Sn         457 non-null    float64
 29  Ttl_MP_Sn     457 non-null    float64
 30  PER           457 non-null    float64
 31  TS%           457 non-null    float64
 32  3PAr          457 non-null    float64
 33  FTr           457 non-null    float64
 34  ORB%          457 non-null    float64
 35  DRB%          457 non-null    float64
 36  TRB%          457 non-null    float64
 37  AST%          457 non-null    float64
 38  STL%          457 non-null    float64
 39  BLK%          457 non-null    float64
 40  TOV%          457 non-null    float64
 41  USG%          457 non-null    float64
 42  OWS           457 non-null    float64
 43  DWS           457 non-null    float64
 44  WS            457 non-null    float64
 45  WS/48         457 non-null    float64
 46  OBPM          457 non-null    float64
 47  DBPM          457 non-null    float64
 48  BPM           457 non-null    float64
 49  ValORP        457 non-null    float64
 50  Age           457 non-null    object
 51  Pos           457 non-null    object
 52  Avg_MP_Sn     457 non-null    float64
 53  FG_Sn         457 non-null    float64
 54  FGA_Sn        457 non-null    float64
 55  FG%_Sn        457 non-null    float64
 56  3P_Sn         457 non-null    float64
 57  3PA_Sn        457 non-null    float64
 58  3P%_Sn        457 non-null    float64
 59  2P_Sn         457 non-null    float64
 60  2PA_Sn        457 non-null    float64
 61  2P%_Sn        457 non-null    float64
 62  eFG%_Sn       457 non-null    float64
 63  FT_Sn         457 non-null    float64
 64  FTA_Sn        457 non-null    float64
 65  FT%_Sn        457 non-null    float64
 66  ORB_Sn        457 non-null    float64
 67  DRB_Sn        457 non-null    float64
 68  TRB_Sn        457 non-null    float64
 69  AST_Sn        457 non-null    float64
 70  STL_Sn        457 non-null    float64
 71  BLK_Sn        457 non-null    float64
 72  TOV_Sn        457 non-null    float64
 73  PF_Sn         457 non-null    float64
 74  PTS_Sn        457 non-null    float64
 75  MVP           457 non-null    int64
dtypes: datetime64[ns](1), float64(50), int64(17), object(8)
memory usage: 271.5+ KB

In [75]:
combined_stats_df.corr(numeric_only=True)

,MP_G,FG_G,FGA_G,FG%_G,3P_G,3PA_G,3P%_G,FT_G,FTA_G,FT%_G,...,ORB_Sn,DRB_Sn,TRB_Sn,AST_Sn,STL_Sn,BLK_Sn,TOV_Sn,PF_Sn,PTS_Sn,MVP
MP_G,1.000000,0.947817,0.968212,0.917013,0.924324,0.934222,0.917624,0.932951,0.935634,0.918742,...,0.228627,0.135139,0.144300,0.232632,0.227237,0.185718,0.224651,0.227008,0.221623,0.235952
FG_G,0.947817,1.000000,0.988871,0.991096,0.993790,0.995080,0.991216,0.992756,0.992534,0.991289,...,0.076501,-0.029577,-0.021637,0.076599,0.053548,0.141897,0.077985,0.068566,0.066826,0.119365
FGA_G,0.968212,0.988871,1.000000,0.966775,0.972449,0.979567,0.967200,0.976552,0.977738,0.967790,...,0.166490,0.033286,0.044004,0.174566,0.144601,0.208660,0.177292,0.139411,0.166003,0.209542
FG%_G,0.917013,0.991096,0.966775,1.000000,0.998788,0.996191,0.999964,0.995269,0.993718,0.999900,...,-0.001903,-0.088847,-0.083079,-0.006957,-0.025601,0.089803,-0.005603,0.005312,-0.017686,0.043810
3P_G,0.924324,0.993790,0.972449,0.998788,1.000000,0.998500,0.999004,0.995309,0.994030,0.998746,...,0.016724,-0.077301,-0.070944,0.013829,-0.007504,0.106081,0.015906,0.018836,0.003896,0.064310
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
BLK_Sn,0.185718,0.141897,0.208660,0.089803,0.106081,0.127106,0.090906,0.130406,0.137512,0.092688,...,0.546691,-0.096738,-0.053841,0.664715,0.488456,1.000000,0.724030,0.439554,0.653105,0.872678
TOV_Sn,0.224651,0.077985,0.177292,-0.005603,0.015906,0.045116,-0.004224,0.048201,0.056693,-0.001385,...,0.925701,0.592595,0.626339,0.991899,0.920135,0.724030,1.000000,0.739885,0.987179,0.935766
PF_Sn,0.227008,0.068566,0.139411,0.005312,0.018836,0.036510,0.006512,0.044586,0.051613,0.008534,...,0.714986,0.645951,0.653011,0.786634,0.898316,0.439554,0.739885,1.000000,0.762357,0.707294
PTS_Sn,0.221623,0.066826,0.166003,-0.017686,0.003896,0.033233,-0.016309,0.036331,0.044983,-0.013373,...,0.927684,0.675460,0.701758,0.987393,0.926416,0.653105,0.987179,0.762357,1.000000,0.921870
MVP,0.235952,0.119365,0.209542,0.043810,0.064310,0.091240,0.045183,0.096310,0.105154,0.047950,...,0.848210,0.390646,0.426789,0.918955,0.796564,0.872678,0.935766,0.707294,0.921870,1.000000

In [77]:
combined_stats_df.to_csv('./cleaned_data.csv', index=False)

In [120]:
total_team_stats

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1.0,CLE,11,2640,507,960,0.528,168,398,0.422,...,0.753,86,369,455,316,104,62,148,217,1350
1,2.0,MEM,11,2640,491,995,0.493,137,382,0.359,...,0.767,129,398,527,334,89,76,191,238,1330
2,3.0,BOS,11,2690,452,1004,0.450,204,564,0.362,...,0.829,113,365,478,263,87,52,131,180,1322
3,4.0,ATL,11,2640,456,983,0.464,139,396,0.351,...,0.777,121,347,468,308,111,57,172,218,1277
4,5.0,TOR,11,2690,478,1022,0.468,118,357,0.331,...,0.749,148,334,482,327,90,55,179,282,1268
5,6.0,GSW,10,2425,442,924,0.478,163,413,0.395,...,0.725,136,346,482,302,96,57,140,227,1213
6,7.0,DEN,10,2450,430,903,0.476,128,317,0.404,...,0.781,133,337,470,307,86,50,143,191,1209
7,8.0,ORL,11,2640,420,951,0.442,130,427,0.304,...,0.770,115,358,473,272,95,66,164,216,1188
8,9.0,DET,11,2640,439,944,0.465,129,381,0.339,...,0.763,120,384,504,263,57,63,190,230,1178
9,10.0,SAC,10,2450,430,888,0.484,103,337,0.306,...,0.845,91,346,437,244,86,44,136,206,1175
10,11.0,LAL,10,2400,415,870,0.477,116,328,0.354,...,0.815,90,316,406,271,70,46,124,168,1166
11,12.0,IND,10,2450,432,873,0.495,124,331,0.375,...,0.753,83,317,400,283,74,44,142,226,1162
12,13.0,POR,11,2640,428,1005,0.426,111,367,0.302,...,0.755,147,338,485,227,95,61,177,207,1161
13,14.0,OKC,10,2400,431,934,0.461,137,386,0.355,...,0.798,94,350,444,255,120,72,124,212,1157
14,15.0,CHI,10,2400,413,907,0.455,155,419,0.370,...,0.752,106,362,468,283,72,38,160,176,1148
15,16.0,PHO,10,2450,404,859,0.470,154,412,0.374,...,0.791,84,361,445,274,74,55,138,185,1148
16,17.0,DAL,10,2400,428,905,0.473,127,365,0.348,...,0.767,108,334,442,256,77,46,117,218,1141
17,18.0,MIN,10,2400,408,853,0.478,164,417,0.393,...,0.775,97,326,423,264,72,48,165,197,1138
18,19.0,HOU,10,2425,412,949,0.434,117,367,0.319,...,0.753,149,330,479,215,79,42,123,221,1118
19,20.0,BKN,10,2450,400,866,0.462,140,402,0.348,...,0.796,94,305,399,260,75,35,150,248,1112
20,21.0,MIL,10,2400,403,848,0.475,126,354,0.356,...,0.722,84,350,434,215,65,50,138,198,1106
21,22.0,CHA,10,2425,393,909,0.432,160,456,0.351,...,0.793,127,333,460,223,74,50,162,224,1095
22,23.0,LAC,10,2425,395,845,0.467,121,321,0.377,...,0.757,119,339,458,250,83,46,172,210,1085
23,24.0,NOH,10,2400,392,882,0.444,115,318,0.362,...,0.786,117,288,405,238,84,57,150,175,1072
24,25.0,SAS,10,2400,388,848,0.458,125,373,0.335,...,0.818,108,348,456,260,79,66,169,168,1063
25,26.0,NYK,9,2160,383,781,0.490,122,309,0.395,...,0.811,90,284,374,229,62,32,112,157,1030
26,27.0,MIA,9,2160,347,787,0.441,131,336,0.390,...,0.743,96,291,387,229,85,42,119,157,981
27,28.0,PHI,9,2210,339,780,0.435,104,324,0.321,...,0.739,103,252,355,189,76,31,129,207,963
28,29.0,UTH,9,2160,321,765,0.420,106,335,0.316,...,0.798,107,304,411,212,63,52,174,166,945
29,30.0,WAS,8,1920,317,723,0.438,95,307,0.309,...,0.807,77,258,335,207,66,56,121,187,880